openapi: 3.0.1
info:
  title: Sikoia Adverse Media Company Registry API
  termsOfService: https://sikoia.com/About/Terms
  version: '1.0'
servers:
- url: https://api.sikoia.com
  description: API (Production)
- url: https://oauth2.sikoia.com
  description: Authorization Server (Production)
- url: https://api-staging.sikoia.com
  description: API (Staging)
- url: https://oauth2-staging.sikoia.com
  description: Authorization Server (Staging)
security:
- authorizationHeader: []
- apiKeyHeader: []
tags:
- name: Company Registry
paths:
  /v2/company-registry-data:
    post:
      tags:
      - Company Registry
      summary: Request registry data
      description: "### Requests registry data for a company.\r\n\r\nYou can create a request with only the `company_id`, and the necessary data will be retrieved from the company entity. If the company entity is missing `company_number` or `country_code`, a 422 - Unprocessable error will be raised.\r\n\r\nAlternatively, you can override the company entity details by sending `company_number`, `company_name`, and `country_code` alongside the `company_id` in the request body.  \r\n\r\nIf it is not possible to identify a single company in the relevant registry based on the data provided, the response will have a status of `TooManyResults`. You can resolve this picklist using the `POST /v2/company-registry-data/picklist endpoint`.\r\n"
      operationId: POST_v2-company-registry-data
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Request.RegistryDataRequest'
            example:
              company_id: 78662640-73fc-4fa9-8367-ef4660d35cee
              company_number: '12345678'
              company_name: Acme Inc
              country_code: GB
      responses:
        '201':
          description: Registry Data Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.RegistryDataResponse'
              example:
                request_id: 276c102b-85d3-4e86-a69d-de1b2ba72150
                status: Complete
                company_id: 78662640-73fc-4fa9-8367-ef4660d35cee
                datetime_requested: '2024-02-12T13:18:28.9780000+00:00'
                message: string
                company_number: '12345678'
                company_name: Acme Inc
                country_code: GB
                picklist: '[]'
        '400':
          description: Company Entity Deleted/Not Found or Country Not Recognised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidRequest
                status: 400
                title: Validation Errors
                detail: Entity Id is required.
                correlation_id: 71673cbb-3f75-48f1-b480-03d3c6c82a8a
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidToken
                status: 401
                title: Invalid Token
                detail: Invalid token
                correlation_id: ca87a716-7eb6-4093-8227-d46111b3b049
        '403':
          description: Insufficient Credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InsufficientPermissions
                status: 403
                title: Service not enabled
                detail: Service is not currently enabled.
                correlation_id: 8a83523b-7add-4dca-98f9-280ac083c62e
        '422':
          description: Company Entity Missing Information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: UnprocessableRequest
                status: 422
                title: Entity Missing Information
                detail: Entity with id 2ad611a0-d26e-4502-a68c-7a70f58f12e2 is missing required information, please update entity.
                correlation_id: 6c184595-c5a0-46ee-accd-ab97eed3c968
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: RateLimit
                status: 429
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: 0c6d8b85-901a-44f2-861f-fdb7b22d60c5
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ServerError
                status: 500
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: d305a79e-fef3-4adc-a063-6469eb4daabc
  /v2/companies/{company_id}/registry-data:
    get:
      tags:
      - Company Registry
      summary: List all registry data requests
      description: "### Returns a list of all registry data requests for a company.\r\n\r\nThe list includes the `request_id` for each request, which can be used to retrieve detailed registry data using the `GET /v2/company-registry-data/{request_id}` endpoint.\r\n"
      operationId: GET_v2-companies-company_id-registry-data
      parameters:
      - name: company_id
        in: path
        description: Sikoia ID for the Company
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Registry Data Requests List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.RegistryDataListResponse'
              example:
                company_id: 78662640-73fc-4fa9-8367-ef4660d35cee
                registry_data_requests:
                - request_id: 276c102b-85d3-4e86-a69d-de1b2ba72150
                  status: Complete
                  datetime_requested: '2024-02-12T13:18:28.9780000+00:00'
                  message: string
                  company_number: '12345678'
                  company_name: Acme Inc
                  country_code: GB
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidToken
                status: 401
                title: Invalid Token
                detail: Invalid token
                correlation_id: eede0337-baf7-48c5-b07f-641558af3f18
        '404':
          description: Company Entity Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ResourceNotFound
                status: 404
                title: Resource Not Found
                detail: No resources found with id 51d093e0-2ef7-426c-9d20-e454fc87ded6.
                correlation_id: b592f462-ab3f-4aa0-b236-2a51c0491d0c
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: RateLimit
                status: 429
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: fd2efe10-b38c-4d4b-af30-8534788fba00
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ServerError
                status: 500
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: 02ddd458-6e9f-408c-a223-8f50c9b9b92a
  /v2/company-registry-data/{request_id}:
    get:
      tags:
      - Company Registry
      summary: Retrieve registry data
      description: "### Returns detailed company registry data\r\n\r\nThis endpoint returns the full registry data associated with a specific request_id.\r\n"
      operationId: GET_v2-company-registry-data-request_id
      parameters:
      - name: request_id
        in: path
        description: Sikoia ID for the request
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Registry Data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.RegistryDataMappedResponse'
              example:
                request_id: string
                status: string
                company_id: string
                datetime_requested: string
                message: string
                company_number: string
                company_name: string
                country_code: string
                data:
                  company_name: string
                  company_number: string
                  status: string
                  registry_status: string
                  registry_name: string
                  registry_url: string
                  data_provider: string
                  generic_legal_form: string
                  registry_legal_form: string
                  country_code: string
                  date_established: string
                  date_dissolved: string
                  official_address:
                    address_line_1: 10 Main Street
                    address_line_2: Apt. 101
                    address_line_3: Main House
                    address_line_4: string
                    city: Test Town
                    region: Test Country
                    country: GB
                    post_code: X9 9AA
                    full_address: 123 Main Street, Main House, Apt. 101, Test County, Test Town, X9 9AA, GB
                  summary_info:
                    has_insolvency_history: true
                  special_characteristics:
                  - string
                  previous_company_names:
                  - company_name: string
                    date_from: string
                    date_to: string
                  accounts:
                    last_accounts:
                      made_up_to: string
                      period_start: string
                      period_end: string
                      type: string
                    next_accounts:
                      overdue: true
                      period_start: string
                      period_end: string
                      due_date: string
                  industry_codes:
                  - code: string
                    description: string
                  officers:
                    people:
                    - source_id: string
                      officer_role: string
                      date_appointed: string
                      date_resigned: string
                      status: string
                      tax_id: string
                      first_name: string
                      surname: string
                      full_name: string
                      date_of_birth: string
                      birth_year: 0
                      birth_month: 0
                      birth_day: 0
                      nationality: string
                      address:
                        address_line_1: 10 Main Street
                        address_line_2: Apt. 101
                        address_line_3: Main House
                        address_line_4: string
                        city: Test Town
                        region: Test Country
                        country: GB
                        post_code: X9 9AA
                        full_address: 123 Main Street, Main House, Apt. 101, Test County, Test Town, X9 9AA, GB
                      occupation: string
                    companies:
                    - source_id: string
                      officer_role: string
                      date_appointed: string
                      date_resigned: string
                      status: string
                      name: string
                      address:
                        address_line_1: 10 Main Street
                        address_line_2: Apt. 101
                        address_line_3: Main House
                        address_line_4: string
                        city: Test Town
                        region: Test Country
                        country: GB
                        post_code: X9 9AA
                        full_address: 123 Main Street, Main House, Apt. 101, Test County, Test Town, X9 9AA, GB
                      occupation: string
                  owners:
                    people:
                    - source_id: string
                      first_name: string
                      surname: string
                      full_name: string
                      type: string
                      date_from: string
                      date_to: string
                      natures_of_control:
                      - string
                      date_of_birth: string
                      birth_year: 0
                      birth_month: 0
                      birth_day: 0
                      nationality: string
                      address:
                        address_line_1: 10 Main Street
                        address_line_2: Apt. 101
                        address_line_3: Main House
                        address_line_4: string
                        city: Test Town
                        region: Test Country
                        country: GB
                        post_code: X9 9AA
                        full_address: 123 Main Street, Main House, Apt. 101, Test County, Test Town, X9 9AA, GB
                    companies:
                    - source_id: string
                      name: string
                      type: string
                      date_from: string
                      date_to: string
                      natures_of_control:
                      - string
                      address:
                        address_line_1: 10 Main Street
                        address_line_2: Apt. 101
                        address_line_3: Main House
                        address_line_4: string
                        city: Test Town
                        region: Test Country
                        country: GB
                        post_code: X9 9AA
                        full_address: 123 Main Street, Main House, Apt. 101, Test County, Test Town, X9 9AA, GB
                  filings:
                  - category: string
                    description: string
                    type: string
                    filing_date: string
                  charges:
                  - charge_code: string
                    status: string
                    created_on: string
                    delivered_on: string
                    satisfied_on: string
                    details:
                      type: string
                      description: string
                    transactions:
                    - filing_type: string
                      delivered_on: string
                    classification:
                      type: string
                      description: string
                    persons_entitled:
                    - name: string
                    secured_details:
                      type: string
                      description: string
                  insolvencies:
                  - type: string
                    dates:
                    - date: string
                      type: string
                  controlling_entity:
                    company_name: string
                    company_number: string
                    country_code: string
                    generic_legal_form: string
                  foreign_controlling_entity:
                    company_name: string
                    company_number: string
                    country_code: string
                    generic_legal_form: string
                picklist:
                - index: '1'
                  company_name: ACME INC
                  company_number: '12345678'
                  company_status: Active
                  provider_id: string
                  date_established: '1982-01-07'
                  country_code: GB
                  branch_status: string
                  official_address:
                    address_line_1: 10 Main Street
                    address_line_2: Apt. 101
                    address_line_3: Main House
                    address_line_4: string
                    city: Test Town
                    region: Test Country
                    country: GB
                    post_code: X9 9AA
                    full_address: 123 Main Street, Main House, Apt. 101, Test County, Test Town, X9 9AA, GB
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidToken
                status: 401
                title: Invalid Token
                detail: Invalid token
                correlation_id: 8a512044-8d46-4ea7-b928-c9d44192879b
        '404':
          description: Request ID Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ResourceNotFound
                status: 404
                title: Resource Not Found
                detail: No resources found with id c10219d7-72f7-4643-9c4f-729a8031fb48.
                correlation_id: 15d870cc-3acc-41d2-a22f-c1ebd2353da2
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: RateLimit
                status: 429
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: 40b4e40f-bfcf-4131-b7ca-35cfde573846
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ServerError
                status: 500
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: 9e4905dc-233c-4336-a443-0d6bc1893bc8
  /v2/company-registry-data/picklist:
    post:
      tags:
      - Company Registry
      summary: Resolve registry picklist
      description: "### Resolves a company registry data picklist.\r\n\r\nTo resolve a picklist, send the original `request_id` and the `picklist_index` to this endpoint.\r\n\r\nThis will create a new entry in the list of registry data requests for the company entity.\r\n\r\nYou can retrieve a list of all registry data requests for a company using the `GET /v2/companies/{company_id}/registry-data` endpoint.\r\n"
      operationId: POST_v2-company-registry-data-picklist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Request.ResolvePicklistRequest'
            example:
              request_id: cfed4c7f-37e8-4657-b185-7cf572d0b019
              picklist_index: '1'
      responses:
        '201':
          description: Picklist Resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.RegistryDataResponse'
              example:
                request_id: 276c102b-85d3-4e86-a69d-de1b2ba72150
                status: Complete
                company_id: 78662640-73fc-4fa9-8367-ef4660d35cee
                datetime_requested: '2024-02-12T13:18:28.9780000+00:00'
                message: string
                company_number: '12345678'
                company_name: Acme Inc
                country_code: GB
                picklist: '[]'
        '400':
          description: Company Entity Deleted/Not Found or Request Did Not Produce Picklist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidRequest
                status: 400
                title: Validation Errors
                detail: Entity Id is required.
                correlation_id: aca89a98-76f7-4421-9f58-3cd2da4b5228
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidToken
                status: 401
                title: Invalid Token
                detail: Invalid token
                correlation_id: 3382f396-8ecb-4e33-8d31-04a5826db4cd
        '403':
          description: Insufficient Credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InsufficientPermissions
                status: 403
                title: Service not enabled
                detail: Service is not currently enabled.
                correlation_id: 65cd7ade-d30d-43ea-b8a7-ce5bde41fe0e
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: RateLimit
                status: 429
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: 95494aab-3b27-47ca-a451-085863b080dd
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ServerError
                status: 500
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: 6f37c6d5-fedb-4ff8-8efd-97b0737f5e30
  /v2/company-registry-data/search:
    post:
      tags:
      - Company Registry
      summary: Search for a company
      description: "### Searches for a company in business registries.\r\n\r\nSearch using the `company_name` and at least one of `jurisdiction_code` or `country_code`.  If both codes are specified, jurisdiction_code takes priority.\r\n\r\nYou can exclude inactive companies from results by setting `exclude_inactive` to `true`.\r\n\r\nIf your search is associated with a specific company entity instead of a standalone search, include the `company_id` in the request.  Keep in mind that even when using a `company_id`, the search data is transient and won't be stored against the company.\r\n\r\n"
      operationId: POST_v2-company-registry-data-search
      parameters:
      - name: items_per_page
        in: query
        schema:
          type: integer
          description: Items Per Page
          format: integer
          default: 100
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Request.CompanySearchRequest'
            example:
              company_name: Acme Inc
              jurisdiction_code: GB
              country_code: GB
              exclude_inactive: 'true'
              company_id: 78662640-73fc-4fa9-8367-ef4660d35cee
      responses:
        '200':
          description: Companies Retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.CompanySearchMappedResponse'
              example:
              - index: '1'
                company_name: ACME INC
                company_number: '12345678'
                company_status: Active
                provider_id: string
                date_established: '1982-01-07'
                country_code: GB
                branch_status: string
                official_address:
                  address_line_1: 10 Main Street
                  address_line_2: Apt. 101
                  address_line_3: Main House
                  address_line_4: string
                  city: Test Town
                  region: Test Country
                  country: GB
                  post_code: X9 9AA
                  full_address: 123 Main Street, Main House, Apt. 101, Test County, Test Town, X9 9AA, GB
        '400':
          description: Company Entity Deleted/Not Found or Country Not Recognised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidRequest
                status: 400
                title: Validation Errors
                detail: Entity Id is required.
                correlation_id: 5114e597-5de1-443b-b28f-912f9b61d882
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidToken
                status: 401
                title: Invalid Token
                detail: Invalid token
                correlation_id: 40a84628-ed55-4437-a53f-74dbbfc933c5
        '403':
          description: Insufficient Credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InsufficientPermissions
                status: 403
                title: Service not enabled
                detail: Service is not currently enabled.
                correlation_id: ea2adc39-2ef4-4aa0-a1bb-5a1732bf4a99
        '404':
          description: No Search Results Returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ResourceNotFound
                status: 404
                title: Resource Not Found
                detail: No resources found with id 4ec085e2-2335-48cb-a1c7-2e0548b7594d.
                correlation_id: 8a4ae9e5-9083-4305-939c-574f3a41ec40
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: RateLimit
                status: 429
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: ffc188eb-c7a4-48ef-92de-fc92a002a2ea
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ServerError
                status: 500
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: 12f7d835-67a3-4146-a5f9-74d106485fbc
components:
  schemas:
    SikoiaSharedModels.Company.External.Response.Mapped.CompanySearchMappedResponse:
      title: Company Search Response
      type: object
      properties:
        index:
          type: integer
          description: The index of the company
          format: int32
          nullable: true
          example: '1'
        company_name:
          type: string
          description: The legal name of the company
          nullable: true
          example: ACME INC
        company_number:
          type: string
          description: The company registration number
          nullable: true
          example: '12345678'
        company_status:
          type: string
          description: The operational status of the company
          nullable: true
          example: Active
        provider_id:
          type: string
          description: The data provider’s ID for the company
          nullable: true
        date_established:
          type: string
          description: The date the company was established
          nullable: true
          example: '1982-01-07'
        country_code:
          type: string
          description: Two letter ISO country code, e.g. GB
          nullable: true
          example: GB
        branch_status:
          type: string
          description: The branch status of the company
          nullable: true
        official_address:
          $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.OfficialAddress'
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.SecuredDetails:
      title: Secured Details
      type: object
      properties:
        type:
          type: string
          description: Type of Secured Details
          nullable: true
        description:
          type: string
          description: Description of Secured Details
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.Owners:
      title: Owners
      type: object
      properties:
        people:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.PersonOwner'
          description: The List of People
          nullable: true
        companies:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.CompanyOwner'
          description: The List of Companies
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.Charge:
      title: Charge
      type: object
      properties:
        charge_code:
          type: string
          description: The Charge Code
          nullable: true
        status:
          type: string
          description: The Status
          nullable: true
        created_on:
          type: string
          description: Charge Created On
          nullable: true
        delivered_on:
          type: string
          description: Charge Delivered On
          nullable: true
        satisfied_on:
          type: string
          description: Charge Satisfied On
          nullable: true
        details:
          $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.Details'
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.Transaction'
          description: List of Transactions
          nullable: true
        classification:
          $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.Classification'
        persons_entitled:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.PersonEntitled'
          description: Persons Entitled
          nullable: true
        secured_details:
          $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.SecuredDetails'
      additionalProperties: false
    SikoiaSharedModels.Company.External.Request.ResolvePicklistRequest:
      title: Resolve Picklist Request
      required:
      - picklist_index
      - request_id
      type: object
      properties:
        request_id:
          minLength: 1
          type: string
          description: Sikoia ID for the request
          example: cfed4c7f-37e8-4657-b185-7cf572d0b019
        picklist_index:
          minimum: 0
          exclusiveMinimum: true
          type: integer
          description: Picklist index of the company you wish to select
          format: int32
          example: '1'
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.Transaction:
      title: Transaction
      type: object
      properties:
        filing_type:
          type: string
          description: The Filing Type of a Transaction
          nullable: true
        delivered_on:
          type: string
          description: Transaction Delivered On
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.PersonEntitled:
      title: Person Entitled
      type: object
      properties:
        name:
          type: string
          description: Name of the Entitled Person
          nullable: true
      additionalProperties: false
    SikoiaCore.Common.SikoiaErrorResponse:
      title: Error Response
      type: object
      properties:
        type:
          type: string
          description: The error type
          readOnly: true
        status:
          type: integer
          description: HTTP status code of the error
          format: HttpCode
          readOnly: true
        title:
          type: string
          description: A short description of the error
          readOnly: true
        detail:
          type: string
          description: More details about what went wrong
          readOnly: true
        correlation_id:
          type: string
          description: Correlation ID, please include this in any support tickets raised
          readOnly: true
      additionalProperties: false
      description: 'See the [Response Guide](https://docs.sikoia.com/docs/api-behaviour#responses) for more detail '
    SikoiaSharedModels.Company.External.Response.Mapped.PersonOwner:
      title: Person Owner
      type: object
      properties:
        source_id:
          type: string
          description: The Source ID
          nullable: true
          readOnly: true
        first_name:
          type: string
          description: The Firstname of the Owner
          nullable: true
        surname:
          type: string
          description: The Surname of the Owner
          nullable: true
        full_name:
          type: string
          description: The Full Name of the Owner
          nullable: true
        type:
          type: string
          description: The Type of the Owner
          nullable: true
        date_from:
          type: string
          description: The Date From
          nullable: true
        date_to:
          type: string
          description: The Date To
          nullable: true
        natures_of_control:
          type: array
          items:
            type: string
          description: List of Natures of Control
          nullable: true
        date_of_birth:
          type: string
          description: The Date of Birth of the Owner
          nullable: true
          readOnly: true
        birth_year:
          type: integer
          description: The Year of Birth of the Owner
          format: int32
          nullable: true
        birth_month:
          type: integer
          description: The Month of Birth of the Owner
          format: int32
          nullable: true
        birth_day:
          type: integer
          description: The Day of Birth of the Owner
          format: int32
          nullable: true
        nationality:
          type: string
          description: The Nationality of the Owner
          nullable: true
        address:
          $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.OfficialAddress'
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.Filing:
      title: Filing
      type: object
      properties:
        category:
          type: string
          description: The Filing Category
          nullable: true
        description:
          type: string
          description: The Filing Description
          nullable: true
        type:
          type: string
          description: Filing Type
          nullable: true
        filing_date:
          type: string
          description: Filing Date
          nullable: true
          readOnly: true
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.NextAccounts:
      title: Next Accounts
      type: object
      properties:
        overdue:
          type: boolean
          description: Is Next Accounts Overdue?
          nullable: true
        period_start:
          type: string
          description: Start Period for Next Accounts
          nullable: true
        period_end:
          type: string
          description: End Period for Next Accounts
          nullable: true
        due_date:
          type: string
          description: Due Date for Next Accounts
          nullable: true
          readOnly: true
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.CompanyOfficer:
      title: Company Officer
      type: object
      properties:
        source_id:
          type: string
          description: The Source ID
          nullable: true
          readOnly: true
        officer_role:
          type: string
          description: The Role of the Officer
          nullable: true
        date_appointed:
          type: string
          description: The Date when Officer was Appointed
          nullable: true
        date_resigned:
          type: string
          description: The Date when Officer Resigned
          nullable: true
        status:
          type: string
          description: The Status
          nullable: true
        name:
          type: string
          description: The Name of the Company Officer
          nullable: true
        address:
          $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.OfficialAddress'
        occupation:
          type: string
          description: The Occupation of the Officer
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.Company.External.Request.RegistryDataRequest:
      title: Registry Data Request
      required:
      - company_id
      type: object
      properties:
        company_id:
          minLength: 1
          type: string
          description: Sikoia ID for the Company
          example: 78662640-73fc-4fa9-8367-ef4660d35cee
        company_number:
          type: string
          description: The company registration number
          nullable: true
          example: '12345678'
        company_name:
          type: string
          description: The legal name of the company
          nullable: true
          example: Acme Inc
        country_code:
          type: string
          description: Two letter ISO country code, e.g. GB
          nullable: true
          example: GB
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.SummaryInfo:
      title: Information Summary
      type: object
      properties:
        has_insolvency_history:
          type: boolean
          description: Insolvency History
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.RegistryDataMappedResponse:
      title: Registry Data Mapped Response
      type: object
      properties:
        request_id:
          type: string
          description: Sikoia ID for the request
          format: uuid
          nullable: true
          readOnly: true
        status:
          type: string
          description: The status of the request(`Complete` `Failed` `TooManyResults`)
          nullable: true
        company_id:
          type: string
          description: Sikoia ID for the Company
          format: uuid
          nullable: true
          readOnly: true
        datetime_requested:
          type: string
          description: The time the request was made
          nullable: true
          readOnly: true
        message:
          type: string
          description: Additional detail about the request
          nullable: true
        company_number:
          type: string
          description: The company registration number
          nullable: true
        company_name:
          type: string
          description: The legal name of the company
          nullable: true
        country_code:
          type: string
          description: Two letter ISO country code, e.g. GB
          nullable: true
        data:
          $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.RegistryData'
        picklist:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.CompanySearchMappedResponse'
          description: Company search response
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.RegistryDataListResponse:
      title: Registry Data List Response
      type: object
      properties:
        company_id:
          type: string
          description: Sikoia ID for the Company
          format: uuid
          readOnly: true
          example: 78662640-73fc-4fa9-8367-ef4660d35cee
        registry_data_requests:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.RegistryDataOrchestrationResponse'
          description: The list of all registry data requests for the company
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.RelatedCompany:
      title: Related Company
      type: object
      properties:
        company_name:
          type: string
          description: Name of the Related Company
          nullable: true
        company_number:
          type: string
          description: Company Number
          nullable: true
        country_code:
          type: string
          description: Country Code
          nullable: true
        generic_legal_form:
          type: string
          description: Generic Legal Form
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.IndustryCode:
      title: Industry Code
      type: object
      properties:
        code:
          type: string
          description: The Industry Code
          nullable: true
        description:
          type: string
          description: The Industry Description
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.OfficialAddress:
      title: Official Address
      type: object
      properties:
        address_line_1:
          type: string
          description: The First Line of Address
          nullable: true
          example: 10 Main Street
        address_line_2:
          type: string
          description: The Second Line of Address
          nullable: true
          example: Apt. 101
        address_line_3:
          type: string
          description: The Third Line of Address
          nullable: true
          example: Main House
        address_line_4:
          type: string
          description: The Fourth Line of Address
          nullable: true
        city:
          type: string
          description: The Name of the City
          nullable: true
          example: Test Town
        region:
          type: string
          description: The Name of the Region
          nullable: true
          example: Test Country
        country:
          type: string
          description: The Name of the Country
          nullable: true
          example: GB
        post_code:
          type: string
          description: The PostCode of the Address
          nullable: true
          example: X9 9AA
        full_address:
          type: string
          description: The Full Address
          nullable: true
          example: 123 Main Street, Main House, Apt. 101, Test County, Test Town, X9 9AA, GB
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.PersonOfficer:
      title: Person Officer
      type: object
      properties:
        source_id:
          type: string
          description: The Source ID
          format: uuid
          nullable: true
          readOnly: true
        officer_role:
          type: string
          description: The Role of the Officer
          nullable: true
        date_appointed:
          type: string
          description: The Date when Officer was Appointed
          nullable: true
        date_resigned:
          type: string
          description: The Date when Officer Resigned
          nullable: true
        status:
          type: string
          description: The Status
          nullable: true
        tax_id:
          type: string
          description: The Tax ID
          nullable: true
        first_name:
          type: string
          description: The Firstname of the Officer
          nullable: true
        surname:
          type: string
          description: The Surname of the Officer
          nullable: true
        full_name:
          type: string
          description: The Full Name of the Officer
          nullable: true
        date_of_birth:
          type: string
          description: The Date of Birth of the Officer
          nullable: true
          readOnly: true
        birth_year:
          type: integer
          description: The Year of Birth
          format: int32
          nullable: true
        birth_month:
          type: integer
          description: The Month of Birth
          format: int32
          nullable: true
        birth_day:
          type: integer
          description: The Day of Birth
          format: int32
          nullable: true
        nationality:
          type: string
          description: The Day of Birth
          nullable: true
        address:
          $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.OfficialAddress'
        occupation:
          type: string
          description: The Occupation of the Officer
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.Company.External.Request.CompanySearchRequest:
      title: Company Search
      required:
      - company_name
      type: object
      properties:
        company_name:
          minLength: 1
          type: string
          description: The legal name of the company
          example: Acme Inc
        jurisdiction_code:
          type: string
          description: The jurisdiction of the company as an ISO 3166-2 code, e.g.US_DE
          nullable: true
          example: GB
        country_code:
          type: string
          description: Two letter ISO country code, e.g. GB
          nullable: true
          example: GB
        exclude_inactive:
          type: boolean
          description: Exclude inactive companies from the search, defaults to `false`
          example: 'true'
        company_id:
          type: string
          description: Sikoia ID for the Company
          nullable: true
          example: 78662640-73fc-4fa9-8367-ef4660d35cee
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.Details:
      title: Details
      type: object
      properties:
        type:
          type: string
          description: The Details Type
          nullable: true
        description:
          type: string
          description: The Details Description
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.Classification:
      title: Classification
      type: object
      properties:
        type:
          type: string
          description: The Classification Type
          nullable: true
        description:
          type: string
          description: The Classification Description
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.RegistryDataResponse:
      title: Registry Data Response
      type: object
      properties:
        request_id:
          type: string
          description: Sikoia ID for the request
          format: uuid
          readOnly: true
          example: 276c102b-85d3-4e86-a69d-de1b2ba72150
        status:
          type: string
          description: The status of the request(`Complete` `Failed` `TooManyResults`)
          nullable: true
          example: Complete
        company_id:
          type: string
          description: Sikoia ID for the Company
          format: uuid
          readOnly: true
          example: 78662640-73fc-4fa9-8367-ef4660d35cee
        datetime_requested:
          type: string
          description: The time the request was made
          nullable: true
          readOnly: true
          example: '2024-02-12T13:18:28.978Z'
        message:
          type: string
          description: Additional detail about the request
          nullable: true
        company_number:
          type: string
          description: The company registration number
          nullable: true
          example: '12345678'
        company_name:
          type: string
          description: The legal name of the company
          nullable: true
          example: Acme Inc
        country_code:
          type: string
          description: Two letter ISO country code, e.g. GB
          nullable: true
          example: GB
        picklist:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.CompanySearchMappedResponse'
          description: If the response status is “TooManyResults”, this object will list the potential matches for the company
          nullable: true
          example: '[]'
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.RegistryDataOrchestrationResponse:
      title: Registry Data Orchestration Response
      type: object
      properties:
        request_id:
          type: string
          description: Sikoia ID for the request
          format: uuid
          readOnly: true
          example: 276c102b-85d3-4e86-a69d-de1b2ba72150
        status:
          type: string
          description: The status of the request(`Complete` `Failed` `TooManyResults`)
          nullable: true
          example: Complete
        datetime_requested:
          type: string
          description: The time the request was made
          nullable: true
          readOnly: true
          example: '2024-02-12T13:18:28.978Z'
        message:
          type: string
          description: Additional detail about the request
          nullable: true
        company_number:
          type: string
          description: The company registration number
          nullable: true
          example: '12345678'
        company_name:
          type: string
          description: The legal name of the company
          nullable: true
          example: Acme Inc
        country_code:
          type: string
          description: Two letter ISO country code, e.g. GB
          nullable: true
          example: GB
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.InsolvencyDate:
      title: Insolvency Date
      type: object
      properties:
        date:
          type: string
          description: Date of Insolvency
          nullable: true
        type:
          type: string
          description: Type of Insolvency Date
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.CompanyOwner:
      title: Company Owner
      type: object
      properties:
        source_id:
          type: string
          description: The Source ID
          nullable: true
          readOnly: true
        name:
          type: string
          description: The Name of the Company Owner
          nullable: true
        type:
          type: string
          description: The Type of the Company Owner
          nullable: true
        date_from:
          type: string
          description: The Date From
          nullable: true
        date_to:
          type: string
          description: The Date To
          nullable: true
        natures_of_control:
          type: array
          items:
            type: string
          description: List of Natures of Control
          nullable: true
        address:
          $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.OfficialAddress'
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.Insolvency:
      title: Insolvency
      type: object
      properties:
        type:
          type: string
          description: Type of Insolvency
          nullable: true
        dates:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.InsolvencyDate'
          description: List of Insolvency Dates
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.PreviousCompanyName:
      title: Previous Company Name
      type: object
      properties:
        company_name:
          type: string
          description: Name of a Company
          nullable: true
        date_from:
          type: string
          description: From Date
          nullable: true
        date_to:
          type: string
          description: To Date
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.RegistryData:
      title: Registry Data
      type: object
      properties:
        company_name:
          type: string
          description: The legal name of the company
          nullable: true
        company_number:
          type: string
          description: The company registration number
          nullable: true
        status:
          type: string
          description: "The Sikoia standardised company status. Possible values are:\n- **Active**: The company is actively trading.\n- **Restricted**: The company is not dissolved, but it's not trading normally. This includes companies in Administration, Liquidation or Dormant. Companies whose filings have some irregularity will also have this status.\n- **Closed**: The company has been dissolved. Merged companies will also have this status. \n- **Other**: The registry status could not be mapped to any of the above. \n"
          nullable: true
        registry_status:
          type: string
          description: The Registry Status
          nullable: true
        registry_name:
          type: string
          description: The Registry Name
          nullable: true
        registry_url:
          type: string
          description: The Registry URL
          nullable: true
        data_provider:
          type: string
          description: The Data Provider
          nullable: true
        generic_legal_form:
          type: string
          description: "The Sikoia standardised legal form. Possible values are:\n- **Public Company**: A company whose ownership is distributed amongst general public shareholders through publicly-traded stock shares.\n- **Limited Company**: A private company whose owners are legally responsible for its debts only to the extent of the amount of capital they invested.\n- **Partnership**: A business owned by two or more people who share profits and losses.\n- **Investment Company**: A regulated entity that pools and manages investors' capital, investing in securities and other financial instruments.\n- **Cooperative**: A business owned and operated by its members for their mutual benefit.\n- **Sole Proprietorship**: A type of business owned and operated by a single person.\n- **Government Entity**: A legal entity created by a government to carry out a specific function or service.\n- **Other**: The registry legal form could not be mapped to any of the above. \n"
          nullable: true
        registry_legal_form:
          type: string
          description: The Registry Legal Form
          nullable: true
        country_code:
          type: string
          description: The Country Code
          nullable: true
        date_established:
          type: string
          description: The Established Date
          nullable: true
          readOnly: true
        date_dissolved:
          type: string
          description: The Dissolved Date
          nullable: true
          readOnly: true
        official_address:
          $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.OfficialAddress'
        summary_info:
          $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.SummaryInfo'
        special_characteristics:
          type: array
          items:
            type: string
          description: List of Special Characteristic
          nullable: true
        previous_company_names:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.PreviousCompanyName'
          description: List of Previous Company Name
          nullable: true
        accounts:
          $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.Accounts'
        industry_codes:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.IndustryCode'
          description: List of Industry Codes
          nullable: true
        officers:
          $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.Officers'
        owners:
          $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.Owners'
        filings:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.Filing'
          description: List of Filings
          nullable: true
        charges:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.Charge'
          description: List of Charges
          nullable: true
        insolvencies:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.Insolvency'
          description: List of Insolvencies
          nullable: true
        controlling_entity:
          $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.RelatedCompany'
        foreign_controlling_entity:
          $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.RelatedCompany'
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.Officers:
      title: Officers
      type: object
      properties:
        people:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.PersonOfficer'
          description: The List of People
          nullable: true
        companies:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.CompanyOfficer'
          description: The List of Companies
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.Accounts:
      title: Accounts
      type: object
      properties:
        last_accounts:
          $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.LastAccounts'
        next_accounts:
          $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.NextAccounts'
      additionalProperties: false
    SikoiaSharedModels.Company.External.Response.Mapped.LastAccounts:
      title: Last Accounts
      type: object
      properties:
        made_up_to:
          type: string
          description: Last Accounts Made Up To
          nullable: true
        period_start:
          type: string
          description: Period Start for Last Accounts
          nullable: true
        period_end:
          type: string
          description: Period End for Last Accounts
          nullable: true
        type:
          type: string
          description: Type
          nullable: true
      additionalProperties: false
  securitySchemes:
    authorizationHeader:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyHeader:
      type: apiKey
      name: apikey
      in: header
