openapi: 3.0.1
info:
  title: Sikoia Adverse Media Company Credit Report API
  termsOfService: https://sikoia.com/About/Terms
  version: '1.0'
servers:
- url: https://api.sikoia.com
  description: API (Production)
- url: https://oauth2.sikoia.com
  description: Authorization Server (Production)
- url: https://api-staging.sikoia.com
  description: API (Staging)
- url: https://oauth2-staging.sikoia.com
  description: Authorization Server (Staging)
security:
- authorizationHeader: []
- apiKeyHeader: []
tags:
- name: Company Credit Report
paths:
  /v2/company-credit-reports:
    post:
      tags:
      - Company Credit Report
      summary: Request credit report
      description: "### Requests a credit report for a company.\r\n\r\nYou can create a request with only the `company_id`, and the necessary data will be retrieved from the company entity. A 422 - Unprocessable Error will be raised if the company entity is missing `company_number` or `country_code`.\r\n\r\nAlternatively, you can override the company entity details by sending `company_number`, `company_name`, and `country_code` alongside the `company_id` in the request body. The credit report returned will be associated with the `company_id` on the request.\r\n\r\nAs a third option, you can send a 3rd party data provider `provider_id` for a specific company within their system. The credit report returned will be associated with the `company_id` on the request.\r\n\r\nIf resolving the credit report to a single company is not possible, the response will have a status of `TooManyResults`. You can resolve this picklist using the `POST /v2/company-credit-reports/picklist` endpoint.\r\n\r\n"
      operationId: POST_v2-company-credit-reports
      requestBody:
        content:
          application/json:
            schema:
              title: Credit Report Request
              oneOf:
              - $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Request.CreditReportRequest'
              - $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Request.CreditReportRequestByCompanyId'
              - $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Request.CreditReportRequestByDetails'
              - $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Request.CreditReportRequestByProviderId'
            example:
              company_id: 78662640-73fc-4fa9-8367-ef4660d35cee
              company_number: '12345678'
              company_name: Acme Inc
              country_code: GB
              provider_id: string
      responses:
        '201':
          description: Credit Report Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.CreditReportResponse'
              example:
                request_id: cfed4c7f-37e8-4657-b185-7cf572d0b019
                status: Complete
                company_id: 78662640-73fc-4fa9-8367-ef4660d35cee
                datetime_requested: '2024-02-12T14:50:10.3830000+00:00'
                message: string
                company_number: '12345678'
                company_name: Acme Inc
                country_code: GB
                provider_id: string
                picklist: '[]'
        '400':
          description: Company Entity Deleted/Not Found or Country Not Recognised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidRequest
                status: 400
                title: Validation Errors
                detail: Entity Id is required.
                correlation_id: a769b6bf-4e90-4eb3-980f-a42e4a13ffdf
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidToken
                status: 401
                title: Invalid Token
                detail: Invalid token
                correlation_id: b40f2abc-a5e4-4fda-bfea-a1a42d1c118b
        '403':
          description: Insufficient Credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InsufficientPermissions
                status: 403
                title: Service not enabled
                detail: Service is not currently enabled.
                correlation_id: 039d29c0-cf91-4f48-9573-fa31c14957a3
        '422':
          description: Company Entity Missing Information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: UnprocessableRequest
                status: 422
                title: Entity Missing Information
                detail: Entity with id 7ebd8c19-f0fb-4d87-b333-708e45af7bc4 is missing required information, please update entity.
                correlation_id: 4404f52b-d8bd-4ad7-8b6d-8277a36e7067
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: RateLimit
                status: 429
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: 7599dc4e-5ad2-49ea-a2cb-b616d0744344
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ServerError
                status: 500
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: 359c08cb-90f2-4f7f-b086-a9f82b4cc7a8
  /v2/companies/{company_id}/credit-reports:
    get:
      tags:
      - Company Credit Report
      summary: List all credit report requests
      description: "### Returns a list of all credit reports requested for a company.\r\n\r\nThe list includes the `request_id` for each request, which can be used to retrieve detailed company credit report data using the `GET /v2/company-credit-reports/{request_id}` endpoint.\r\n"
      operationId: GET_v2-companies-company_id-credit-reports
      parameters:
      - name: company_id
        in: path
        description: Sikoia ID for the Company
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Credit Report Requests List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.CreditReportListResponse'
              example:
                company_id: 78662640-73fc-4fa9-8367-ef4660d35cee
                credit_report_requests:
                - request_id: cfed4c7f-37e8-4657-b185-7cf572d0b019
                  status: Complete
                  datetime_requested: '2024-02-12T14:50:10.3830000+00:00'
                  message: string
                  company_number: '12345678'
                  company_name: Acme Inc
                  country_code: GB
                  provider_id: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidToken
                status: 401
                title: Invalid Token
                detail: Invalid token
                correlation_id: 37b7d04c-2f5f-442d-879c-e36a38e16e40
        '404':
          description: Company Entity Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ResourceNotFound
                status: 404
                title: Resource Not Found
                detail: No resources found with id e407c607-53b5-425d-980c-896a75b78188.
                correlation_id: b83fcb8c-8aa6-4c06-ae70-8d247ededb52
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: RateLimit
                status: 429
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: 48f7a66a-bc22-4106-b1b6-39bd46513700
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ServerError
                status: 500
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: df614cda-8e28-454b-a03c-d3537cfa750f
  /v2/company-credit-reports/{request_id}:
    get:
      tags:
      - Company Credit Report
      summary: Retrieve credit report
      description: "### Returns a company credit report.\r\n\r\nThis endpoint returns the full company credit report associated with a specific `request_id`.\r\n"
      operationId: GET_v2-company-credit-reports-request_id
      parameters:
      - name: request_id
        in: path
        description: Sikoia ID for the request
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Credit Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.CreditReportMappedResponse'
              example:
                request_id: string
                status: string
                company_id: string
                datetime_requested: string
                message: string
                company_number: string
                company_name: string
                country_code: string
                provider_id: string
                data:
                  company_information:
                    company_number: string
                    company_name: string
                    country_code: string
                    status: string
                    date_established: string
                    date_dissolved: string
                    generic_legal_form: string
                    registry_legal_form: string
                    vat_number: string
                    official_address:
                      address_line_1: string
                      address_line_2: string
                      address_line_3: string
                      address_line_4: string
                      city: string
                      region: string
                      country: string
                      post_code: string
                      full_address: string
                  industry_codes:
                  - code: string
                    description: string
                    classification: string
                  credit_rating:
                    international_credit_rating: string
                    international_credit_rating_description: string
                    local_credit_rating: string
                    local_credit_rating_description: string
                    rating_date: string
                    probability_of_default: 0
                    national_percentile: 0
                    credit_limit: 0
                    credit_limit_currency: string
                    credit_rating_history:
                    - international_credit_rating: string
                      international_credit_rating_description: string
                      local_credit_rating: string
                      local_credit_rating_description: string
                      rating_date: string
                    credit_limit_history:
                    - date: string
                      value: string
                      currency: string
                  officers:
                    people:
                    - first_name: string
                      surname: string
                      full_name: string
                      status: string
                      officer_role: string
                      date_appointed: string
                      date_resigned: string
                      date_of_birth: string
                      birth_year: 0
                      birth_month: 0
                      birth_day: 0
                      nationality: string
                      address:
                        address_line_1: string
                        address_line_2: string
                        address_line_3: string
                        address_line_4: string
                        city: string
                        region: string
                        country: string
                        post_code: string
                        full_address: string
                    companies:
                    - name: string
                      status: string
                      officer_role: string
                      date_appointed: string
                      date_resigned: string
                      address:
                        address_line_1: string
                        address_line_2: string
                        address_line_3: string
                        address_line_4: string
                        city: string
                        region: string
                        country: string
                        post_code: string
                        full_address: string
                  owners:
                    people:
                    - first_name: string
                      surname: string
                      full_name: string
                      status: string
                      holding_percentage: 0
                      holding_percentage_band: string
                      voting_percentage: 0
                      voting_percentage_band: string
                      date_appointed: string
                      date_resigned: string
                      date_of_birth: string
                      birth_year: 0
                      birth_month: 0
                      birth_day: 0
                      nationality: string
                      address:
                        address_line_1: string
                        address_line_2: string
                        address_line_3: string
                        address_line_4: string
                        city: string
                        region: string
                        country: string
                        post_code: string
                        full_address: string
                    companies:
                    - name: string
                      status: string
                      holding_percentage: 0
                      holding_percentage_band: string
                      voting_percentage: 0
                      voting_percentage_band: string
                      date_appointed: string
                      date_resigned: string
                      address:
                        address_line_1: string
                        address_line_2: string
                        address_line_3: string
                        address_line_4: string
                        city: string
                        region: string
                        country: string
                        post_code: string
                        full_address: string
                  commentaries:
                  - commentary: string
                    sentiment: string
                  capital_structure:
                    currency: string
                    nominal_capital: 0
                    issued_capital: 0
                    number_of_shares: 0
                    shareholders:
                      people:
                      - first_name: string
                        surname: string
                        full_name: string
                        status: string
                        holding_percentage: 0
                        holding_percentage_band: string
                        voting_percentage: 0
                        voting_percentage_band: string
                        number_of_shares: 0
                        share_value: 0
                        officer_role: string
                        date_appointed: string
                        date_resigned: string
                        date_of_birth: string
                        birth_year: 0
                        birth_month: 0
                        birth_day: 0
                        nationality: string
                        address:
                          address_line_1: string
                          address_line_2: string
                          address_line_3: string
                          address_line_4: string
                          city: string
                          region: string
                          country: string
                          post_code: string
                          full_address: string
                      companies:
                      - name: string
                        status: string
                        holding_percentage: 0
                        holding_percentage_band: string
                        voting_percentage: 0
                        voting_percentage_band: string
                        number_of_shares: 0
                        share_value: 0
                        officer_role: string
                        date_appointed: string
                        date_resigned: string
                        address:
                          address_line_1: string
                          address_line_2: string
                          address_line_3: string
                          address_line_4: string
                          city: string
                          region: string
                          country: string
                          post_code: string
                          full_address: string
                  judgments:
                  - date: string
                    type: string
                    court_name: string
                    amount: 0
                    reference_number: string
                    currency: string
                    status: string
                  bad_debts:
                  - date: string
                    company_number: string
                    company_name: string
                    currency: string
                    amount: 0
                  financial_statements:
                    global_reports:
                    - type: string
                      start_date: string
                      end_date: string
                      number_of_weeks: 0
                      currency: string
                      original_currency: string
                      currency_conversion_rate: 0
                      consolidated_accounts: true
                      amended_accounts: true
                      profit_and_loss:
                        revenue: 0
                        operating_costs: 0
                        operating_profit: 0
                        wages_and_salaries: 0
                        pension_costs: 0
                        depreciation: 0
                        financial_income: 0
                        amortisation: 0
                        financial_expenses: 0
                        extraordinary_income: 0
                        extraordinary_costs: 0
                        profit_before_tax: 0
                        tax: 0
                        profit_after_tax: 0
                        dividends: 0
                        minority_interests: 0
                        other_appropriations: 0
                        retained_profit: 0
                      balance_sheet:
                        land_and_buildings: 0
                        plant_and_machinery: 0
                        other_tangible_assets: 0
                        total_tangible_assets: 0
                        goodwill: 0
                        other_intangible_assets: 0
                        total_intangible_assets: 0
                        investments: 0
                        loans_to_group: 0
                        other_loans: 0
                        miscellaneous_fixed_assets: 0
                        total_other_fixed_assets: 0
                        total_fixed_assets: 0
                        raw_materials: 0
                        work_in_progress: 0
                        finished_goods: 0
                        other_inventories: 0
                        total_inventories: 0
                        trade_receivables: 0
                        group_receivables: 0
                        receivables_due_after_1_year: 0
                        miscellaneous_receivables: 0
                        total_receivables: 0
                        cash: 0
                        other_current_assets: 0
                        total_current_assets: 0
                        total_assets: 0
                        trade_payables: 0
                        bank_liabilities: 0
                        other_loans_or_finance: 0
                        group_payables: 0
                        miscellaneous_liabilities: 0
                        total_current_liabilities: 0
                        trade_payables_due_after_1_year: 0
                        bank_liabilities_due_after_1_year: 0
                        other_loans_or_finance_due_after_1_year: 0
                        group_payables_due_after_1_year: 0
                        miscellaneous_liabilities_due_after_1_year: 0
                        total_long_term_liabilities: 0
                        total_liabilities: 0
                        called_up_share_capital: 0
                        share_premium: 0
                        revenue_reserves: 0
                        other_reserves: 0
                        total_shareholders_equity: 0
                      other_financials:
                        contingent_liabilities: string
                        working_capital: 0
                        net_worth: 0
                      ratios:
                        pre_tax_profit_margin: 0
                        return_on_capital_employed: 0
                        return_on_total_assets_employed: 0
                        return_on_net_assets_employed: 0
                        sales_or_net_working_capital: 0
                        stock_turnover_ratio: 0
                        debtor_days: 0
                        creditor_days: 0
                        current_ratio: 0
                        liquidity_ratio_or_acid_test: 0
                        current_debt_ratio: 0
                        gearing: 0
                        equity_in_percentage: 0
                        total_debt_ratio: 0
                picklist:
                - index: 0
                  company_number: '12345678'
                  company_name: Acme Inc
                  country_code: GB
                  provider_id: ABC123
                  status: Active
                  branch: 'true'
                  official_address:
                    address_line_1: string
                    address_line_2: string
                    address_line_3: string
                    address_line_4: string
                    city: string
                    region: string
                    country: string
                    post_code: string
                    full_address: string
                  vat_number:
                  - string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidToken
                status: 401
                title: Invalid Token
                detail: Invalid token
                correlation_id: 723292a4-eba8-4a9d-be06-40a3d4af4879
        '404':
          description: Request ID Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ResourceNotFound
                status: 404
                title: Resource Not Found
                detail: No resources found with id ab5eeeb6-86de-4660-a047-2dcee7b84ab1.
                correlation_id: 5a9d3e82-815a-463c-8d11-067391d04ddf
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: RateLimit
                status: 429
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: 09d3ec65-fdd3-4211-b907-2198ab8a4271
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ServerError
                status: 500
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: 0f0645e2-14c0-428e-8184-72fe8b749fe9
  /v2/company-credit-reports/picklist:
    post:
      tags:
      - Company Credit Report
      summary: Resolve credit report picklist
      description: "### Resolves a company credit report picklist.\r\n\r\nTo resolve a picklist, send the original `request_id` and the `picklist_index` to this endpoint.\r\n\r\nThis will create a new entry in the list of Credit Report requests for the company entity.\r\n\r\nYou can retrieve a list of all credit report requests for a company using the `GET /v2/companies/{company_id}/credit-reports` endpoint.\r\n"
      operationId: POST_v2-company-credit-reports-picklist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Request.ResolvePicklistRequest'
            example:
              request_id: 9133edc8-6ac5-45ee-827a-fa717c90d47b
              picklist_index: '1'
      responses:
        '201':
          description: Picklist Resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.CreditReportResponse'
              example:
                request_id: cfed4c7f-37e8-4657-b185-7cf572d0b019
                status: Complete
                company_id: 78662640-73fc-4fa9-8367-ef4660d35cee
                datetime_requested: '2024-02-12T14:50:10.3830000+00:00'
                message: string
                company_number: '12345678'
                company_name: Acme Inc
                country_code: GB
                provider_id: string
                picklist: '[]'
        '400':
          description: Company Entity Deleted/Not Found or Request Did Not Produce Picklist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidRequest
                status: 400
                title: Validation Errors
                detail: Entity Id is required.
                correlation_id: 2917b7ff-11b8-4ba7-93f4-aeb48533e3ea
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidToken
                status: 401
                title: Invalid Token
                detail: Invalid token
                correlation_id: 6cd3b4a8-bc37-444b-9078-d08005ea72a2
        '403':
          description: Insufficient Credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InsufficientPermissions
                status: 403
                title: Service not enabled
                detail: Service is not currently enabled.
                correlation_id: 1157375d-bf43-4ebb-9ef5-2b3b89cf4475
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: RateLimit
                status: 429
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: 915d46fa-011c-4057-b7b0-a3f5c7177763
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ServerError
                status: 500
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: 4eaab818-a226-4300-bccb-ce2a380d7179
components:
  schemas:
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.CommentaryWithSentiment:
      title: Commentary with Sentiment
      type: object
      properties:
        commentary:
          type: string
          description: Commentary
          nullable: true
        sentiment:
          type: string
          description: Sentiment
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.CompanyOfficer:
      title: Company Officer
      type: object
      properties:
        name:
          type: string
          description: The Name of the Company Officer
          nullable: true
        status:
          type: string
          description: The Status
          nullable: true
        officer_role:
          type: string
          description: The Role of the Officer
          nullable: true
        date_appointed:
          type: string
          description: The Date when Officer was Appointed
          nullable: true
        date_resigned:
          type: string
          description: The Date when Officer Resigned
          nullable: true
        address:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.OfficialAddress'
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.CompanyInformation:
      type: object
      properties:
        company_number:
          type: string
          description: The Company Number
          nullable: true
        company_name:
          type: string
          description: The Company Name
          nullable: true
        country_code:
          type: string
          description: The Country Code
          nullable: true
        status:
          type: string
          description: The Status
          nullable: true
        date_established:
          type: string
          description: The Established Date
          nullable: true
          readOnly: true
        date_dissolved:
          type: string
          description: The Dissolved Date
          nullable: true
          readOnly: true
        generic_legal_form:
          type: string
          description: Generic Legal Form
          nullable: true
        registry_legal_form:
          type: string
          description: Registry Legal Form
          nullable: true
        vat_number:
          type: string
          description: Vat Number
          nullable: true
        official_address:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.OfficialAddress'
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.PersonOfficer:
      type: object
      properties:
        first_name:
          type: string
          nullable: true
        surname:
          type: string
          nullable: true
        full_name:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        officer_role:
          type: string
          nullable: true
        date_appointed:
          type: string
          nullable: true
        date_resigned:
          type: string
          nullable: true
        date_of_birth:
          type: string
          nullable: true
        birth_year:
          type: integer
          format: int32
          nullable: true
        birth_month:
          type: integer
          format: int32
          nullable: true
        birth_day:
          type: integer
          format: int32
          nullable: true
        nationality:
          type: string
          nullable: true
        address:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.OfficialAddress'
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.BalanceSheet:
      type: object
      properties:
        land_and_buildings:
          type: number
          format: double
          nullable: true
        plant_and_machinery:
          type: number
          format: double
          nullable: true
        other_tangible_assets:
          type: number
          format: double
          nullable: true
        total_tangible_assets:
          type: number
          format: double
          nullable: true
        goodwill:
          type: number
          format: double
          nullable: true
        other_intangible_assets:
          type: number
          format: double
          nullable: true
        total_intangible_assets:
          type: number
          format: double
          nullable: true
        investments:
          type: number
          format: double
          nullable: true
        loans_to_group:
          type: number
          format: double
          nullable: true
        other_loans:
          type: number
          format: double
          nullable: true
        miscellaneous_fixed_assets:
          type: number
          format: double
          nullable: true
        total_other_fixed_assets:
          type: number
          format: double
          nullable: true
        total_fixed_assets:
          type: number
          format: double
          nullable: true
        raw_materials:
          type: number
          format: double
          nullable: true
        work_in_progress:
          type: number
          format: double
          nullable: true
        finished_goods:
          type: number
          format: double
          nullable: true
        other_inventories:
          type: number
          format: double
          nullable: true
        total_inventories:
          type: number
          format: double
          nullable: true
        trade_receivables:
          type: number
          format: double
          nullable: true
        group_receivables:
          type: number
          format: double
          nullable: true
        receivables_due_after_1_year:
          type: number
          format: double
          nullable: true
        miscellaneous_receivables:
          type: number
          format: double
          nullable: true
        total_receivables:
          type: number
          format: double
          nullable: true
        cash:
          type: number
          format: double
          nullable: true
        other_current_assets:
          type: number
          format: double
          nullable: true
        total_current_assets:
          type: number
          format: double
          nullable: true
        total_assets:
          type: number
          format: double
          nullable: true
        trade_payables:
          type: number
          format: double
          nullable: true
        bank_liabilities:
          type: number
          format: double
          nullable: true
        other_loans_or_finance:
          type: number
          format: double
          nullable: true
        group_payables:
          type: number
          format: double
          nullable: true
        miscellaneous_liabilities:
          type: number
          format: double
          nullable: true
        total_current_liabilities:
          type: number
          format: double
          nullable: true
        trade_payables_due_after_1_year:
          type: number
          format: double
          nullable: true
        bank_liabilities_due_after_1_year:
          type: number
          format: double
          nullable: true
        other_loans_or_finance_due_after_1_year:
          type: number
          format: double
          nullable: true
        group_payables_due_after_1_year:
          type: number
          format: double
          nullable: true
        miscellaneous_liabilities_due_after_1_year:
          type: number
          format: double
          nullable: true
        total_long_term_liabilities:
          type: number
          format: double
          nullable: true
        total_liabilities:
          type: number
          format: double
          nullable: true
        called_up_share_capital:
          type: number
          format: double
          nullable: true
        share_premium:
          type: number
          format: double
          nullable: true
        revenue_reserves:
          type: number
          format: double
          nullable: true
        other_reserves:
          type: number
          format: double
          nullable: true
        total_shareholders_equity:
          type: number
          format: double
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.BadDebt:
      title: Bad Debt
      type: object
      properties:
        date:
          type: string
          description: Date of Bad Debt
          nullable: true
        company_number:
          type: string
          description: Company Number
          nullable: true
        company_name:
          type: string
          description: Company Name
          nullable: true
        currency:
          type: string
          description: Currency
          nullable: true
        amount:
          type: number
          description: Amount
          format: double
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.CreditReportResponse:
      title: Credit Report Response
      type: object
      properties:
        request_id:
          type: string
          description: Sikoia ID for the request
          nullable: true
          example: cfed4c7f-37e8-4657-b185-7cf572d0b019
        status:
          type: string
          description: The status of the request(`Complete` `Failed` `TooManyResults`)
          nullable: true
          example: Complete
        company_id:
          type: string
          description: Sikoia ID for the Company
          format: uuid
          nullable: true
          readOnly: true
          example: 78662640-73fc-4fa9-8367-ef4660d35cee
        datetime_requested:
          type: string
          description: The time the request was made
          nullable: true
          readOnly: true
          example: '2024-02-12T14:50:10.383Z'
        message:
          type: string
          description: Additional detail about the request
          nullable: true
        company_number:
          type: string
          description: The company registration number
          nullable: true
          example: '12345678'
        company_name:
          type: string
          description: The legal name of the company
          nullable: true
          example: Acme Inc
        country_code:
          type: string
          description: Two letter ISO country code, e.g. GB
          nullable: true
          example: GB
        provider_id:
          type: string
          description: The data provider’s ID for the company
          nullable: true
        picklist:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.CreditSearchMappedResponse'
          description: If the response status is “TooManyResults”, this object will list the potential matches for the company
          nullable: true
          example: '[]'
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.CompanyShareholder:
      title: Company Shareholder
      type: object
      properties:
        name:
          type: string
          description: The Name of the Shareholder
          nullable: true
        status:
          type: string
          description: The Status
          nullable: true
        holding_percentage:
          type: number
          description: Holding Percentage
          format: double
          nullable: true
        holding_percentage_band:
          type: string
          description: Holding Percentage Band
          nullable: true
        voting_percentage:
          type: number
          description: Voting Percentage
          format: double
          nullable: true
        voting_percentage_band:
          type: string
          description: Voting Percentage Band
          nullable: true
        number_of_shares:
          type: integer
          description: Number of Shares
          format: int64
          nullable: true
        share_value:
          type: number
          description: Share Value
          format: double
          nullable: true
        officer_role:
          type: string
          description: Officer Role
          nullable: true
        date_appointed:
          type: string
          description: Date Appointed
          nullable: true
        date_resigned:
          type: string
          description: Date Resigned
          nullable: true
        address:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.OfficialAddress'
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Request.CreditReportRequestByCompanyId:
      title: By Company ID
      required:
      - CompanyId
      type: object
      properties:
        company_id:
          type: string
          description: Sikoia ID for the Company
          nullable: true
          example: a035d37a-dee1-4a4e-b098-168a6a1f4603
      additionalProperties: false
      description: Company details are retrieved from the company entity.
    SikoiaSharedModels.CreditCheck.External.Response.CreditReportOrchestrationResponse:
      title: Credit Report Orchestration Response
      type: object
      properties:
        request_id:
          type: string
          description: Sikoia ID for the request
          nullable: true
          example: cfed4c7f-37e8-4657-b185-7cf572d0b019
        status:
          type: string
          description: The status of the request(`Complete` `Failed` `TooManyResults`)
          nullable: true
          example: Complete
        datetime_requested:
          type: string
          description: The time the request was made
          nullable: true
          readOnly: true
          example: '2024-02-12T14:50:10.383Z'
        message:
          type: string
          description: Additional detail about the request
          nullable: true
        company_number:
          type: string
          description: The company registration number
          nullable: true
          example: '12345678'
        company_name:
          type: string
          description: The legal name of the company
          nullable: true
          example: Acme Inc
        country_code:
          type: string
          description: Two letter ISO country code, e.g. GB
          nullable: true
          example: GB
        provider_id:
          type: string
          description: The data provider’s ID for the company
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.IndustryCode:
      title: Industry Code
      type: object
      properties:
        code:
          type: string
          description: The Industry Code
          nullable: true
        description:
          type: string
          description: The Industry Description
          nullable: true
        classification:
          type: string
          description: The Industry Classification
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.CreditLimitHistoryItem:
      title: Credit Limit History
      type: object
      properties:
        date:
          type: string
          description: Date of Credit Limit History
          nullable: true
          readOnly: true
        value:
          type: string
          description: Value of Credit Limit History
          nullable: true
        currency:
          type: string
          description: Currency of Credit Limit History
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.CreditRating:
      title: Credit Rating
      type: object
      properties:
        international_credit_rating:
          type: string
          description: International Credit Rating
          nullable: true
        international_credit_rating_description:
          type: string
          description: International Credit Rating Description
          nullable: true
        local_credit_rating:
          type: string
          description: Local Credit Rating
          nullable: true
        local_credit_rating_description:
          type: string
          description: Local Credit Rating Description
          nullable: true
        rating_date:
          type: string
          description: The Credit Rating Date
          nullable: true
          readOnly: true
        probability_of_default:
          type: number
          description: Default Probability
          format: double
          nullable: true
        national_percentile:
          type: number
          description: National Percentile
          format: double
          nullable: true
        credit_limit:
          type: number
          description: Credit Limit
          format: double
          nullable: true
        credit_limit_currency:
          type: string
          description: Credit Limit Currency
          nullable: true
        credit_rating_history:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.CreditRatingHistoryItem'
          description: List of Credit Rating History
          nullable: true
        credit_limit_history:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.CreditLimitHistoryItem'
          description: List of Credit Limit History
          nullable: true
      additionalProperties: false
    SikoiaCore.Common.SikoiaErrorResponse:
      title: Error Response
      type: object
      properties:
        type:
          type: string
          description: The error type
          readOnly: true
        status:
          type: integer
          description: HTTP status code of the error
          format: HttpCode
          readOnly: true
        title:
          type: string
          description: A short description of the error
          readOnly: true
        detail:
          type: string
          description: More details about what went wrong
          readOnly: true
        correlation_id:
          type: string
          description: Correlation ID, please include this in any support tickets raised
          readOnly: true
      additionalProperties: false
      description: 'See the [Response Guide](https://docs.sikoia.com/docs/api-behaviour#responses) for more detail '
    SikoiaSharedModels.CreditCheck.External.Request.CreditReportRequestByDetails:
      title: By Company Details
      required:
      - CompanyId
      - CompanyName
      - CompanyNumber
      - CountryCode
      type: object
      properties:
        company_id:
          type: string
          description: Sikoia ID for the Company
          nullable: true
          example: a035d37a-dee1-4a4e-b098-168a6a1f4603
        company_number:
          type: string
          description: Company Registration Number
          nullable: true
          example: '77642080'
        company_name:
          type: string
          description: Company Name
          nullable: true
          example: Acme Limited
        country_code:
          type: string
          description: 2 Letter ISO Country Code
          nullable: true
          example: GB
      additionalProperties: false
      description: Company details are provided directly in the call. They override what is defined in the company entity, but the report is still associated to it.
    SikoiaSharedModels.CreditCheck.External.Request.ResolvePicklistRequest:
      title: Resolve Picklist Request
      required:
      - picklist_index
      - request_id
      type: object
      properties:
        request_id:
          minLength: 1
          type: string
          description: Sikoia ID for the request
          example: 9133edc8-6ac5-45ee-827a-fa717c90d47b
        picklist_index:
          minimum: 0
          exclusiveMinimum: true
          type: integer
          description: Picklist Index
          format: int32
          example: '1'
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.OfficialAddress:
      title: Official Address
      type: object
      properties:
        address_line_1:
          type: string
          description: The First Line of Address
          nullable: true
        address_line_2:
          type: string
          description: The Second Line of Address
          nullable: true
        address_line_3:
          type: string
          description: The Third Line of Address
          nullable: true
        address_line_4:
          type: string
          description: The Fourth Line of Address
          nullable: true
        city:
          type: string
          description: The Name of the City
          nullable: true
        region:
          type: string
          description: The Name of the Region
          nullable: true
        country:
          type: string
          description: The Name of the Country
          nullable: true
        post_code:
          type: string
          description: The PostCode of the Address
          nullable: true
        full_address:
          type: string
          description: The Full Address
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.Owners:
      title: Owners
      type: object
      properties:
        people:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.PersonOwner'
          description: The List of People
          nullable: true
        companies:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.CompanyOwner'
          description: The List of Companies
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.OtherFinancials:
      type: object
      properties:
        contingent_liabilities:
          type: string
          nullable: true
        working_capital:
          type: number
          format: double
          nullable: true
        net_worth:
          type: number
          format: double
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.CreditRatingHistoryItem:
      title: Credit Rating History Item
      type: object
      properties:
        international_credit_rating:
          title: International Credit Rating
          type: string
          nullable: true
        international_credit_rating_description:
          title: International Credit Rating Description
          type: string
          nullable: true
        local_credit_rating:
          title: Local Credit Rating
          type: string
          nullable: true
        local_credit_rating_description:
          title: Local Credit Rating Description
          type: string
          nullable: true
        rating_date:
          title: Rating Date
          type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.CapitalStructure:
      title: Capital Structure
      type: object
      properties:
        currency:
          type: string
          description: Currency
          nullable: true
        nominal_capital:
          type: number
          description: Nominal Capital
          format: double
          nullable: true
        issued_capital:
          type: number
          description: Issued Capital
          format: double
          nullable: true
        number_of_shares:
          type: integer
          description: Number of Shares
          format: int64
          nullable: true
        shareholders:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.Shareholders'
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.CreditReportMappedResponse:
      title: Credit Report Response
      type: object
      properties:
        request_id:
          type: string
          description: Sikoia ID for the request
          nullable: true
        status:
          type: string
          description: The status of the request(`Complete` `Failed` `TooManyResults`)
          nullable: true
        company_id:
          type: string
          description: Sikoia ID for the Company
          format: uuid
          nullable: true
          readOnly: true
        datetime_requested:
          type: string
          description: The time the request was made
          nullable: true
          readOnly: true
        message:
          type: string
          description: Additional detail about the request
          nullable: true
        company_number:
          type: string
          description: The company registration number
          nullable: true
        company_name:
          type: string
          description: The legal name of the company
          nullable: true
        country_code:
          type: string
          description: Two letter ISO country code, e.g. GB
          nullable: true
        provider_id:
          type: string
          description: Internal ID of the Credit Report Provider
          nullable: true
        data:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.CreditReportData'
        picklist:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.CreditSearchMappedResponse'
          description: Credit search response
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.PersonOwner:
      title: Person Owner
      type: object
      properties:
        first_name:
          type: string
          description: The First Name of the Owner
          nullable: true
        surname:
          type: string
          description: The Surname of the Owner
          nullable: true
        full_name:
          type: string
          description: The Full Name of the Owner
          nullable: true
        status:
          type: string
          description: The Status
          nullable: true
        holding_percentage:
          type: number
          description: Holding Percentage
          format: double
          nullable: true
        holding_percentage_band:
          type: string
          description: Holding Percentage Band
          nullable: true
        voting_percentage:
          type: number
          description: Voting Percentage
          format: double
          nullable: true
        voting_percentage_band:
          type: string
          description: Voting Percentage Band
          nullable: true
        date_appointed:
          type: string
          description: Date Appointed
          nullable: true
        date_resigned:
          type: string
          description: Date Resigned
          nullable: true
        date_of_birth:
          type: string
          description: The Date of Birth of the Owner
          nullable: true
        birth_year:
          type: integer
          description: The Year of Birth of the Owner
          format: int32
          nullable: true
        birth_month:
          type: integer
          description: The Month of Birth of the Owner
          format: int32
          nullable: true
        birth_day:
          type: integer
          description: The Day of Birth of the Owner
          format: int32
          nullable: true
        nationality:
          type: string
          description: The Nationality of the Owner
          nullable: true
        address:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.OfficialAddress'
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.Officers:
      title: Officers
      type: object
      properties:
        people:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.PersonOfficer'
          description: List of People Officers
          nullable: true
        companies:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.CompanyOfficer'
          description: List of Company Officers
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.GlobalFinancialStatement:
      type: object
      properties:
        type:
          type: string
          nullable: true
        start_date:
          type: string
          nullable: true
        end_date:
          type: string
          nullable: true
        number_of_weeks:
          type: integer
          format: int32
          nullable: true
        currency:
          type: string
          nullable: true
        original_currency:
          type: string
          nullable: true
        currency_conversion_rate:
          type: number
          format: double
          nullable: true
        consolidated_accounts:
          type: boolean
          nullable: true
        amended_accounts:
          type: boolean
          nullable: true
        profit_and_loss:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.ProfitAndLoss'
        balance_sheet:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.BalanceSheet'
        other_financials:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.OtherFinancials'
        ratios:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.Ratios'
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Request.CreditReportRequestByProviderId:
      title: By Provider ID
      required:
      - CompanyId
      - ProviderId
      type: object
      properties:
        company_id:
          type: string
          description: Sikoia ID for the Company
          nullable: true
          example: a035d37a-dee1-4a4e-b098-168a6a1f4603
        provider_id:
          type: string
          description: Internal ID of the Credit Report Provider
          nullable: true
      additionalProperties: false
      description: Company details are not provided. The internal ID of the credit report provider is used instead. The report is still associated to the company entity specified.
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.CreditReportData:
      title: Credit Report Data
      type: object
      properties:
        company_information:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.CompanyInformation'
        industry_codes:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.IndustryCode'
          description: List of Industry Codes
          nullable: true
        credit_rating:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.CreditRating'
        officers:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.Officers'
        owners:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.Owners'
        commentaries:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.CommentaryWithSentiment'
          description: List of Comments With Sentiment
          nullable: true
        capital_structure:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.CapitalStructure'
        judgments:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.Judgment'
          description: List of Judgments
          nullable: true
        bad_debts:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.BadDebt'
          description: List of Bad Debts
          nullable: true
        financial_statements:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.FinancialStatements'
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.Judgment:
      title: Judgment
      type: object
      properties:
        date:
          type: string
          description: Date of Judgment
          nullable: true
        type:
          type: string
          description: Type of Judgment
          nullable: true
        court_name:
          type: string
          description: Name of the Court
          nullable: true
        amount:
          type: number
          description: Amount
          format: double
          nullable: true
        reference_number:
          type: string
          description: Reference Number
          nullable: true
        currency:
          type: string
          description: Currency
          nullable: true
        status:
          type: string
          description: The Status
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.ProfitAndLoss:
      type: object
      properties:
        revenue:
          type: number
          format: double
          nullable: true
        operating_costs:
          type: number
          format: double
          nullable: true
        operating_profit:
          type: number
          format: double
          nullable: true
        wages_and_salaries:
          type: number
          format: double
          nullable: true
        pension_costs:
          type: number
          format: double
          nullable: true
        depreciation:
          type: number
          format: double
          nullable: true
        financial_income:
          type: number
          format: double
          nullable: true
        amortisation:
          type: number
          format: double
          nullable: true
        financial_expenses:
          type: number
          format: double
          nullable: true
        extraordinary_income:
          type: number
          format: double
          nullable: true
        extraordinary_costs:
          type: number
          format: double
          nullable: true
        profit_before_tax:
          type: number
          format: double
          nullable: true
        tax:
          type: number
          format: double
          nullable: true
        profit_after_tax:
          type: number
          format: double
          nullable: true
        dividends:
          type: number
          format: double
          nullable: true
        minority_interests:
          type: number
          format: double
          nullable: true
        other_appropriations:
          type: number
          format: double
          nullable: true
        retained_profit:
          type: number
          format: double
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.Ratios:
      type: object
      properties:
        pre_tax_profit_margin:
          type: number
          format: double
          nullable: true
        return_on_capital_employed:
          type: number
          format: double
          nullable: true
        return_on_total_assets_employed:
          type: number
          format: double
          nullable: true
        return_on_net_assets_employed:
          type: number
          format: double
          nullable: true
        sales_or_net_working_capital:
          type: number
          format: double
          nullable: true
        stock_turnover_ratio:
          type: number
          format: double
          nullable: true
        debtor_days:
          type: number
          format: double
          nullable: true
        creditor_days:
          type: number
          format: double
          nullable: true
        current_ratio:
          type: number
          format: double
          nullable: true
        liquidity_ratio_or_acid_test:
          type: number
          format: double
          nullable: true
        current_debt_ratio:
          type: number
          format: double
          nullable: true
        gearing:
          type: number
          format: double
          nullable: true
        equity_in_percentage:
          type: number
          format: double
          nullable: true
        total_debt_ratio:
          type: number
          format: double
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.CreditReportListResponse:
      title: Credit Report List Response
      type: object
      properties:
        company_id:
          type: string
          description: Sikoia ID for the Company
          format: uuid
          nullable: true
          readOnly: true
          example: 78662640-73fc-4fa9-8367-ef4660d35cee
        credit_report_requests:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.CreditReportOrchestrationResponse'
          description: The list of all credit report requests for the company
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.CreditSearchMappedResponse:
      title: Credit Search Response
      type: object
      properties:
        index:
          type: integer
          description: The index of the company
          format: int32
          nullable: true
        company_number:
          type: string
          description: The company registration number
          nullable: true
          example: '12345678'
        company_name:
          type: string
          description: The legal name of the company
          nullable: true
          example: Acme Inc
        country_code:
          type: string
          description: Two letter ISO country code, e.g. GB
          nullable: true
          example: GB
        provider_id:
          type: string
          description: Internal ID of the Credit Report Provider
          nullable: true
          example: ABC123
        status:
          type: string
          description: The operational status of the company
          nullable: true
          example: Active
        branch:
          type: boolean
          description: The branch status of the company
          nullable: true
          example: 'true'
        official_address:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.OfficialAddress'
        vat_number:
          type: array
          items:
            type: string
          description: List of VAT numbers for the company
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.Shareholders:
      title: Shareholders
      type: object
      properties:
        people:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.PersonShareholder'
          description: List of Person Shareholders
          nullable: true
        companies:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.CompanyShareholder'
          description: List of Company Shareholders
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.FinancialStatements:
      title: Financial Statements
      type: object
      properties:
        global_reports:
          type: array
          items:
            $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.GlobalFinancialStatement'
          description: List of Financial Statements
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Request.CreditReportRequest:
      title: Credit Report Request
      required:
      - company_id
      type: object
      properties:
        company_id:
          minLength: 1
          type: string
          description: Sikoia ID for the Company
          example: 78662640-73fc-4fa9-8367-ef4660d35cee
        company_number:
          type: string
          description: The company registration number
          nullable: true
          example: '12345678'
        company_name:
          type: string
          description: The legal name of the company
          nullable: true
          example: Acme Inc
        country_code:
          type: string
          description: Two letter ISO country code, e.g. GB
          nullable: true
          example: GB
        provider_id:
          type: string
          description: Internal ID of the Credit Report Provider
          nullable: true
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.PersonShareholder:
      title: Person Shareholder
      type: object
      properties:
        first_name:
          type: string
          description: The Firstname of the Shareholder
          nullable: true
        surname:
          type: string
          description: The Surname of the Shareholder
          nullable: true
        full_name:
          type: string
          description: The Full Name of the Shareholder
          nullable: true
        status:
          type: string
          description: The Status
          nullable: true
        holding_percentage:
          type: number
          description: Holding Percentage
          format: double
          nullable: true
        holding_percentage_band:
          type: string
          description: Holding Percentage Band
          nullable: true
        voting_percentage:
          type: number
          description: Voting Percentage
          format: double
          nullable: true
        voting_percentage_band:
          type: string
          description: Voting Percentage Band
          nullable: true
        number_of_shares:
          type: integer
          description: Number of Shares
          format: int64
          nullable: true
        share_value:
          type: number
          description: Share Value
          format: double
          nullable: true
        officer_role:
          type: string
          description: Officer Role
          nullable: true
        date_appointed:
          type: string
          description: Date Appointed
          nullable: true
        date_resigned:
          type: string
          description: Date Resigned
          nullable: true
        date_of_birth:
          type: string
          description: The Date of Birth of the Shareholder
          nullable: true
        birth_year:
          type: integer
          description: The Year of Birth of the Shareholder
          format: int32
          nullable: true
        birth_month:
          type: integer
          description: The Month of Birth of the Shareholder
          format: int32
          nullable: true
        birth_day:
          type: integer
          description: The Day of Birth of the Shareholder
          format: int32
          nullable: true
        nationality:
          type: string
          description: The Nationality of the Shareholder
          nullable: true
        address:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.OfficialAddress'
      additionalProperties: false
    SikoiaSharedModels.CreditCheck.External.Response.Mapped.CompanyOwner:
      title: Company Owner
      type: object
      properties:
        name:
          type: string
          description: The Name of the Company Owner
          nullable: true
        status:
          type: string
          description: The Status
          nullable: true
        holding_percentage:
          type: number
          description: Holding Percentage
          format: double
          nullable: true
        holding_percentage_band:
          type: string
          description: Holding Percentage Band
          nullable: true
        voting_percentage:
          type: number
          description: Voting Percentage
          format: double
          nullable: true
        voting_percentage_band:
          type: string
          description: Voting Percentage Band
          nullable: true
        date_appointed:
          type: string
          description: Date Appointed
          nullable: true
        date_resigned:
          type: string
          description: Date Resigned
          nullable: true
        address:
          $ref: '#/components/schemas/SikoiaSharedModels.CreditCheck.External.Response.Mapped.OfficialAddress'
      additionalProperties: false
  securitySchemes:
    authorizationHeader:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyHeader:
      type: apiKey
      name: apikey
      in: header
