openapi: 3.0.1
info:
  title: Sikoia API
  termsOfService: https://sikoia.com/About/Terms
  version: '1.0'
servers:
- url: https://api.sikoia.com
  description: API (Production)
- url: https://oauth2.sikoia.com
  description: Authorization Server (Production)
- url: https://api-staging.sikoia.com
  description: API (Staging)
- url: https://oauth2-staging.sikoia.com
  description: Authorization Server (Staging)
tags:
- name: Adverse Media
- name: Affordability Insights
- name: Authentication
- name: Banking
- name: Cases
- name: Checklist
- name: Companies & People
- name: Company Credit Report
- name: Company Registry
- name: Data Sources
- name: Documents
- name: Excel Report
- name: Identity Verification
- name: Income & Employer Verification
- name: Online Data
- name: PEPs & Sanctions
- name: User Management
- name: Validation Checklists
- name: Webhooks
paths:
  /token:
    post:
      tags:
      - Authentication
      summary: Creates an access token
      description: "### To generate an access token, make a request to one of the following:\r\n- Production Environment:\
        \ `https://oauth2.sikoia.com` \r\n- Staging Environment: `https://oauth2-staging.sikoia.com`\r\n\r\n ### Ensure that\
        \ the following parameters are provided: \r\n- `client_id:` See our Guides section for more information on how to\
        \ obtain your `client_id`.\r\n- `client_secret:` See our Guides section for more information on how to obtain your\
        \ `client_secret`.\r\n- `grant_type:` Set this parameter to client_credentials.\r\n- `scope:` Set this parameter to:\
        \ \r\n- * Production Environment: `https://api.sikoia.com/.default`\r\n- * Staging Environment: `https://api-staging.sikoia.com/.default`\r\
        \n\r\n The endpoint will return the access token in JSON Web Token (JWT) format, along with metadata indicating its\
        \ expiry and validity."
      operationId: POST_token
      security: []
      servers:
      - url: https://oauth2.sikoia.com
        description: Authorization Server (Production)
      - url: https://oauth2-staging.sikoia.com
        description: Authorization Server (Staging)
      requestBody:
        description: Token request
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ObtainTokenRequest'
      responses:
        '201':
          description: Returns the access token in JWT format along with metadata about token expiry and validity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Error response compliant with Oauth 2.0 specification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenErrorResponse'
  /v2/users:
    get:
      tags:
      - User Management
      summary: List all users
      description: "### Retrieves a list of all users.\r\n\r\nReturns a list of users affiliated with your organisation.\r\
        \n\r\nRefer to our Guides section for additional information on users, user roles, and user permissions.\r\n"
      operationId: GET_v2-users
      responses:
        '200':
          description: All User are retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MicroserviceUserManagement.Resources.External.User'
              example:
              - user_id: 592d6b22-a5d4-4226-b5a3-c374cf1a38fe
                first_name: John
                last_name: Smith
                email: john.smith@acme.com
                account_date_created: '2024-01-19T03:06:41.0000000+00:00'
                account_date_updated: '2024-01-19T03:06:41.0000000+00:00'
                roles:
                - name: Admin
                  description: Admin Role
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse401'
              example:
                type: InvalidToken
                status: '401'
                title: Invalid Token
                detail: Invalid token
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse429'
              example:
                type: RateLimit
                status: '429'
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse500'
              example:
                type: ServerError
                status: '500'
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
  /v2/webhooks:
    post:
      tags:
      - Webhooks
      summary: Create a new webhook
      description: "### Creates a webhook for one or more events.\r\n\r\nA webhook is an HTTP request that keeps your system\
        \ informed about changes in the Sikoia Platform in real-time. Refer to our Guides section for additional information\
        \ on webhooks.\r\nYou can retrieve a complete list of supported `event_types` by using the `GET/v2/webhooks/event-types`\
        \ endpoint.\r\n"
      operationId: POST_v2-webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MicroserviceUserManagement.Resources.External.Webhook'
            example:
              webhook_id: string
              webhook_name: Bank Statement Hook
              webhook_callback_url: https://yourdomain.com/webhook/
              external_ref: IntRef001
              event_types: '["BankStatementProcessing.Completed"]'
              datetime_created: '2024-01-18T12:37:35.0000000+00:00'
              datetime_updated: '2024-01-18T12:37:35.0000000+00:00'
      responses:
        '201':
          description: Webhook successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.External.Webhook'
              example:
                webhook_id: string
                webhook_name: Bank Statement Hook
                webhook_callback_url: https://yourdomain.com/webhook/
                external_ref: IntRef001
                event_types: '["BankStatementProcessing.Completed"]'
                datetime_created: '2024-01-18T12:37:35.0000000+00:00'
                datetime_updated: '2024-01-18T12:37:35.0000000+00:00'
        '400':
          description: Validation failure trying to create webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse400'
              example:
                type: InvalidRequest
                status: '400'
                title: Validation Errors
                detail: Entity Id is required.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse401'
              example:
                type: InvalidToken
                status: '401'
                title: Invalid Token
                detail: Invalid token
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse429'
              example:
                type: RateLimit
                status: '429'
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse500'
              example:
                type: ServerError
                status: '500'
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
    get:
      tags:
      - Webhooks
      summary: List all webhooks
      description: "### Retrieves a list of all available webhooks.\r\n\r\nReturns a list of all webhooks affiliated with\
        \ your organisation.\r\n\r\nThis list includes the `webhook_id`, which can be used to update or delete the webhook\
        \ using the `GET/v2/webhooks/{webhook_id}` and `DELETE/v2/webhooks/{webhook_id}` endpoints.\r\n"
      operationId: GET_v2-webhooks
      responses:
        '200':
          description: Webhooks successfully retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MicroserviceUserManagement.Resources.External.Webhook'
              example:
              - webhook_id: string
                webhook_name: Bank Statement Hook
                webhook_callback_url: https://yourdomain.com/webhook/
                external_ref: IntRef001
                event_types: '["BankStatementProcessing.Completed"]'
                datetime_created: '2024-01-18T12:37:35.0000000+00:00'
                datetime_updated: '2024-01-18T12:37:35.0000000+00:00'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse401'
              example:
                type: InvalidToken
                status: '401'
                title: Invalid Token
                detail: Invalid token
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse429'
              example:
                type: RateLimit
                status: '429'
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse500'
              example:
                type: ServerError
                status: '500'
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
  /v2/webhooks/{webhook_id}:
    get:
      tags:
      - Webhooks
      summary: Retrieve a webhook
      description: "### Retrieves a webhook.\r\n\r\nReturns information about a webhook, including the `webhook_callback_url`\
        \ and a list of associated `event_types`.\r\n"
      operationId: GET_v2-webhooks-webhook_id
      parameters:
      - name: webhook_id
        in: path
        description: Webhook Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Webhook successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.External.Webhook'
              example:
                webhook_id: string
                webhook_name: Bank Statement Hook
                webhook_callback_url: https://yourdomain.com/webhook/
                external_ref: IntRef001
                event_types: '["BankStatementProcessing.Completed"]'
                datetime_created: '2024-01-18T12:37:35.0000000+00:00'
                datetime_updated: '2024-01-18T12:37:35.0000000+00:00'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse401'
              example:
                type: InvalidToken
                status: '401'
                title: Invalid Token
                detail: Invalid token
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '404':
          description: Webhook does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse404'
              example:
                type: ResourceNotFound
                status: '404'
                title: Resource Not Found
                detail: No resources found with id 6afd715b195c4d11b9e796bcdfbdfd9a.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse429'
              example:
                type: RateLimit
                status: '429'
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse500'
              example:
                type: ServerError
                status: '500'
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
    patch:
      tags:
      - Webhooks
      summary: Update a webhook
      description: "### Updates details for an existing webhook.\r\n\r\nWhile all fields are optional, the request must include\
        \ at least one field.\r\nTo clear a field, send an empty string as the field value.\r\n"
      operationId: PATCH_v2-webhooks-webhook_id
      parameters:
      - name: webhook_id
        in: path
        description: Webhook Id
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MicroserviceUserManagement.Resources.External.WebhookUpdate'
            example:
              webhook_name: Bank Statement Hook
              webhook_callback_url: https://yourdomain.com/webhook/
              external_ref: IntRef001
              event_types: '["BankStatementProcessing.Completed"]'
      responses:
        '200':
          description: Webhook successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.External.Webhook'
              example:
                webhook_id: string
                webhook_name: Bank Statement Hook
                webhook_callback_url: https://yourdomain.com/webhook/
                external_ref: IntRef001
                event_types: '["BankStatementProcessing.Completed"]'
                datetime_created: '2024-01-18T12:37:35.0000000+00:00'
                datetime_updated: '2024-01-18T12:37:35.0000000+00:00'
        '400':
          description: Validation failure trying to update webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse400'
              example:
                type: InvalidRequest
                status: '400'
                title: Validation Errors
                detail: Entity Id is required.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse401'
              example:
                type: InvalidToken
                status: '401'
                title: Invalid Token
                detail: Invalid token
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '404':
          description: Webhook does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse404'
              example:
                type: ResourceNotFound
                status: '404'
                title: Resource Not Found
                detail: No resources found with id 6afd715b195c4d11b9e796bcdfbdfd9a.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse429'
              example:
                type: RateLimit
                status: '429'
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse500'
              example:
                type: ServerError
                status: '500'
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
    delete:
      tags:
      - Webhooks
      summary: Delete a webhook
      description: "### Deletes a single webhook.\r\n\r\nPlease note that this action cannot be undone.\r\n"
      operationId: DELETE_v2-webhooks-webhook_id
      parameters:
      - name: webhook_id
        in: path
        description: Webhook Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Webhook successfully deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse401'
              example:
                type: InvalidToken
                status: '401'
                title: Invalid Token
                detail: Invalid token
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '404':
          description: Webhook does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse404'
              example:
                type: ResourceNotFound
                status: '404'
                title: Resource Not Found
                detail: No resources found with id 6afd715b195c4d11b9e796bcdfbdfd9a.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse429'
              example:
                type: RateLimit
                status: '429'
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse500'
              example:
                type: ServerError
                status: '500'
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
  /v2/webhooks/event-types:
    get:
      tags:
      - Webhooks
      summary: List all event types
      description: "### Retrieves a list of all available webhook event_types.\r\n\r\nThe list includes the name of all events\
        \ that a webhook can subscribe to.\r\nRefer to our Guides section for additional information on webhooks.\r\n"
      operationId: GET_v2-webhooks-event-types
      responses:
        '200':
          description: Event types successfully returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MicroserviceUserManagement.Resources.External.WebhookEventGroup'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse401'
              example:
                type: InvalidToken
                status: '401'
                title: Invalid Token
                detail: Invalid token
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse429'
              example:
                type: RateLimit
                status: '429'
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse500'
              example:
                type: ServerError
                status: '500'
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
  /v2/webhooks/{webhook_id}/requests:
    get:
      tags:
      - Webhooks
      summary: List all webhook requests
      description: Returns a paginated list of all requests with the most recent request provided first.
      operationId: GET_v2-webhooks-webhook_id-requests
      parameters:
      - name: webhook_id
        in: path
        description: Webhook Id
        required: true
        schema:
          type: string
          format: uuid
      - name: after_request_id
        in: query
        description: Last Request Id Seen
        schema:
          type: string
          format: uuid
      - name: event_status
        in: query
        description: Event Status
        schema:
          $ref: '#/components/schemas/MicroserviceUserManagement.Domain.Model.Webhooks.WebhookEventStatusCode'
      - name: pagination_direction
        in: query
        description: Pagination Direction
        schema:
          $ref: '#/components/schemas/MicroserviceUserManagement.Domain.Model.Common.PaginationDirection'
      responses:
        '200':
          description: Webhook requests successfully returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.External.PaginatedWebhookRequestsResponse'
              example:
                pagination_meta_data:
                  next_page_url: https://api.sikoia.com/v2/{resource}?after_request_id=354c8709-8941-4a8e-a614-a618555034a0&pagination_direction=Forward
                  previous_page_url: https://api.sikoia.com/v2/{resource}?after_request_id=354c8709-8941-4a8e-a614-a618555034a0&pagination_direction=Backward
                  page_size: '25'
                  page_count: '5'
                webhook_requests:
                - request_id: 2bf8cbc7-b646-41ad-9881-4944ad2b786e
                  grouping_id: 07322b4b-6739-486c-9eb4-5466a8bc1875
                  event_type: BankStatementProcessing.Completed
                  webhook_callback_url: https://yourdomain.com/webhook/
                  datetime_created: '2024-01-18T12:37:35.0000000+00:00'
                  event_data: '{"key":"value","key2":"value2"]}'
                  webhook_event_status: Complete
                  request_attempts: '[{"attempt_id":"8b1391e4-7ace-41a2-a04b-55decffb9fe5","requested_on":"2024-01-18T12:37:35.053Z","http_response_code":200}]'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse401'
              example:
                type: InvalidToken
                status: '401'
                title: Invalid Token
                detail: Invalid token
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '404':
          description: Webhook or Request does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse404'
              example:
                type: ResourceNotFound
                status: '404'
                title: Resource Not Found
                detail: No resources found with id 6afd715b195c4d11b9e796bcdfbdfd9a.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse429'
              example:
                type: RateLimit
                status: '429'
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse500'
              example:
                type: ServerError
                status: '500'
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
  /v2/webhooks/secrets:
    get:
      tags:
      - Webhooks
      summary: Get a shared secret
      description: "### Retrieves a single secret key used to sign all webhook requests.\r\n\r\nThis secret will be used to\
        \ create a HMACSHA256 hash of every webhook request sent. The result will be Base64 encoded and sent under the `X-HMAC-SHA256-Signature`\
        \ header in the request."
      operationId: GET_v2-webhooks-secrets
      responses:
        '200':
          description: Webhook Secret successfully returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.External.WebhookSecret'
              example:
                shared_key: string
                date_created: string
                date_updated: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse401'
              example:
                type: InvalidToken
                status: '401'
                title: Invalid Token
                detail: Invalid token
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '404':
          description: Webhook Secret Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse404'
              example:
                type: ResourceNotFound
                status: '404'
                title: Resource Not Found
                detail: No resources found with id 6afd715b195c4d11b9e796bcdfbdfd9a.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse429'
              example:
                type: RateLimit
                status: '429'
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse500'
              example:
                type: ServerError
                status: '500'
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
    post:
      tags:
      - Webhooks
      summary: Create a shared secret
      description: "### Creates a new secret key to be used to sign all webhook requests.\r\n\r\nAll subsequent wehook requests\
        \ sent will include a HMACSHA256 hash that has been Base64 encoded in the `X-HMAC-SHA256-Signature` header. Comparing\
        \ this hashed value against a SHA256 hash of the request body (using the secret as a key) enables you to verify the\
        \ payload has not been tampered with."
      operationId: POST_v2-webhooks-secrets
      responses:
        '201':
          description: Create a new webhook secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.External.WebhookSecret'
              example:
                shared_key: string
                date_created: string
                date_updated: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse401'
              example:
                type: InvalidToken
                status: '401'
                title: Invalid Token
                detail: Invalid token
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '409':
          description: Cannot create multiple webhook secrets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse409'
              example:
                type: UnprocessableRequest
                status: '409'
                title: Cannot create multiple webhook secrets
                detail: Only one webhook secret is supported. Please refer to the API docs on how to either rotate the existing
                  key value or delete it from the system.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse429'
              example:
                type: RateLimit
                status: '429'
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse500'
              example:
                type: ServerError
                status: '500'
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
    delete:
      tags:
      - Webhooks
      summary: Delete a shared secret
      description: "### Deletes a secret key used to sign webhook requests.\r\n\r\nPlease note that this action cannot be\
        \ undone. Webhooks will continue to be sent without a secret - they will just not include the `X-HMAC-SHA256-Signature`\
        \ header for verification purposes."
      operationId: DELETE_v2-webhooks-secrets
      responses:
        '204':
          description: Webhook secret successfully deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse401'
              example:
                type: InvalidToken
                status: '401'
                title: Invalid Token
                detail: Invalid token
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '404':
          description: No secret exists to be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse404'
              example:
                type: ResourceNotFound
                status: '404'
                title: Resource Not Found
                detail: No resources found with id 6afd715b195c4d11b9e796bcdfbdfd9a.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse429'
              example:
                type: RateLimit
                status: '429'
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse500'
              example:
                type: ServerError
                status: '500'
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
  /v2/webhooks/secrets/rotate:
    patch:
      tags:
      - Webhooks
      summary: Change a shared secret
      description: "### Changes the shared secret to a new secure value.\r\n\r\nGenerates a new secret used to create the\
        \ `X-HMAC-SHA256-Signature` header on all webhook requests.  This new secret will be implemented on all requests sent\
        \ after the date_updated timestamp included in the response."
      operationId: PATCH_v2-webhooks-secrets-rotate
      responses:
        '200':
          description: Webhook secret rotated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.External.WebhookSecret'
              example:
                shared_key: string
                date_created: string
                date_updated: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse401'
              example:
                type: InvalidToken
                status: '401'
                title: Invalid Token
                detail: Invalid token
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '404':
          description: No secret has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse404'
              example:
                type: ResourceNotFound
                status: '404'
                title: Resource Not Found
                detail: No resources found with id 6afd715b195c4d11b9e796bcdfbdfd9a.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse429'
              example:
                type: RateLimit
                status: '429'
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroserviceUserManagement.Resources.SikoiaErrorResponse500'
              example:
                type: ServerError
                status: '500'
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: a28d1abd-ad97-4a1f-bd14-6698c5214544
  /v2/cases:
    get:
      tags:
      - Cases
      summary: List all cases
      description: "### Returns a list of all cases.\r\n\r\nThis list can be filtered using query parameters such as `case_type`,\
        \ `stage`, `source`, `owner`, `owner_id` and `keyword`.\r\n\r\nThe `keyword` query parameter searches for matching\
        \ strings within the Case's `name`, `reference` and `description` fields.\r\n\r\nSupport for multiple filters is available\
        \ by separating them with a comma. For instance, to retrieve all approved and rejected cases, use the `stage` query\
        \ parameter with the value `Approved,Rejected`.\r\n"
      operationId: GET_v2-cases
      parameters:
      - name: case_type
        in: query
        description: Case Types
        schema:
          enum:
          - Business
          - Consumer
          type: string
      - name: stage
        in: query
        description: Case Stages
        schema:
          enum:
          - New
          - InProgressWaitingCustomer
          - InProgressNeedsReview
          - Approved
          - Rejected
          - Dormant
          type: string
      - name: source
        in: query
        description: Source
        schema:
          type: string
      - name: owner
        in: query
        description: Owner
        schema:
          type: string
          deprecated: true
      - name: owner_id
        in: query
        description: Owner Id
        schema:
          type: string
      - name: keyword
        in: query
        description: Keywords
        schema:
          type: string
      responses:
        '200':
          description: List of cases
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SikoiaSharedModels.CaseManagement.Responses.CasesResponse'
              example:
              - case_id: 64cd8202-2db4-44d5-85be-79438d65eb7b
                name: Acme Ltd Loan Application
                case_type: Business
                stage: New
                datetime_created: '2023-02-10T10:59:46.0000000+00:00'
                datetime_last_modified: '2023-02-12T01:04:21.0000000+00:00'
                reference: LOAN03584
                reference_customer_id: CUST67044
                reference_customer_name: Building Society Ltd
                description: Acme Ltd looking to borrow money to fund a new fleet of delivery vehicles.
                source: API
                owner: Cecilia Adams
                ownership:
                - owner_id: 6a9f8d73-29f4-4a6a-80dc-21b8cbecff75
                  owner_type: user
                number_of_companies: '2'
                number_of_persons: '5'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidRequest
                status: 400
                title: Validation Errors
                detail: Entity Id is required.
                correlation_id: 9a518655-9572-43fa-b747-b282ca41365e
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidToken
                status: 401
                title: Invalid Token
                detail: Invalid token
                correlation_id: b16595e7-e145-4656-bc54-0f6acbcf3dcd
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: RateLimit
                status: 429
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: 6df0d285-68aa-4132-b164-3212c2076e4e
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ServerError
                status: 500
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: e8eae48b-e73b-4a2e-8a63-e750f96437f2
    post:
      tags:
      - Cases
      summary: Create a case
      description: "### Creates a new case\r\n\r\nYou have the option to add companies and people at the point of case creation\
        \ or at a later stage.\r\n\r\nWhen adding companies at the point of case creation, you can retrieve company registration\
        \ data by setting `registry_search` to `true`, and ensuring that `company_name`, `company_number`, and `jurisdiction_code`\
        \ are not empty.  If the company registration data cannot be found, the case is created with the provided company\
        \ details. If the company registration data is found, the `status`, `number_of_officers`, and `number_of_owners` are\
        \ updated to reflect the registry data.\r\n\r\nAdditionally, you can choose to add all the company's (human) officers\
        \ to the case by setting `add_directors` to `true`. Note that this flag is applicable only when `registry_search`\
        \ is set to `true`.\r\n"
      operationId: POST_v2-cases
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SikoiaSharedModels.CaseManagement.Requests.CreateCaseRequest'
            example:
              name: Acme Ltd Loan Application
              case_type: Business
              stage: New
              reference: LOAN03584
              reference_customer_id: CUST67044
              reference_customer_name: Building Society Ltd
              owner: Cecilia Adams
              ownership:
              - owner_id: 6a9f8d73-29f4-4a6a-80dc-21b8cbecff75
                owner_type: user
              description: Acme Ltd looking to borrow money to fund a new fleet of delivery vehicles.
              source: API
              companies:
              - company_name: Acme Limited
                company_number: '77642080'
                jurisdiction_code: GB
                registry_search: true
                add_directors: true
              persons:
              - first_name: Wilson
                last_name: Pascale
                email: wislon@acme.ltd.uk
                postal_address:
                  house_number: '123'
                  building_name: Main House
                  sub_building_name: string
                  address_line_1: Main Street
                  address_line_2: Apt.101
                  locality: Test County
                  city: Test Town
                  post_code: X9 9AA
                  country: GB
                date_of_birth: '1985-06-12'
                employer: Acme Limited
                is_officer: true
                reference_person_id: Wilson5432
      responses:
        '201':
          description: The created case
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaSharedModels.CaseManagement.Responses.CaseResponse'
              example:
                case_id: 64cd8202-2db4-44d5-85be-79438d65eb7b
                name: Acme Ltd Loan Application
                case_type: Business
                stage: New
                datetime_created: '2023-02-10T10:59:46.0260000+00:00'
                datetime_last_modified: '2023-02-12T13:04:21.3260000+00:00'
                reference: LOAN03584
                reference_customer_id: CUST67044
                reference_customer_name: Building Society Ltd
                description: Acme Ltd looking to borrow money to fund a new fleet of delivery vehicles.
                source: API
                owner: Cecilia Adams
                ownership:
                - owner_id: 6a9f8d73-29f4-4a6a-80dc-21b8cbecff75
                  owner_type: user
                number_of_companies: '2'
                number_of_persons: '5'
                companies:
                - company_id: a035d37a-dee1-4a4e-b098-168a6a1f4603
                  company_name: Acme Limited
                  company_number: '77642080'
                  jurisdiction_code: GB
                  status: Active
                  number_of_officers: '5'
                  number_of_owners: '2'
                  media_adverse_requested: true
                  pep_sanction_requested: true
                persons:
                - person_id: 8303ce21-3120-4981-9a19-560ef110502b
                  first_name: Wilson
                  last_name: Pascale
                  name: Wilson Pascale
                  email: wislon@acme.ltd.uk
                  postal_address:
                    house_number: '123'
                    building_name: Main House
                    sub_building_name: string
                    address_line_1: Main Street
                    address_line_2: Apt. 101
                    locality: Test Country
                    city: Test Town
                    post_code: X9 9AA
                    country: GB
                    summary_line: 123, Main Street, Main House, Apt. 101, Test County, Test Town, X9 9AA, GB
                  date_of_birth: '1985-06-12'
                  employer: Acme Limited
                  is_officer: true
                  appointments: string
                  reference_person_id: Wilson5432
                  media_adverse_requested: true
                  pep_sanction_requested: true
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidRequest
                status: 400
                title: Validation Errors
                detail: Entity Id is required.
                correlation_id: 582535be-c42a-4e5f-9efa-a121842cc6f8
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidToken
                status: 401
                title: Invalid Token
                detail: Invalid token
                correlation_id: 2622efbf-488c-4824-91d8-01ccdd2010f2
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: RateLimit
                status: 429
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: e1c426b8-6f38-47d9-8efd-76e29653e977
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ServerError
                status: 500
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: 844d74d3-d437-46db-8781-ee8f55e0676b
  /v2/cases/{case_id}:
    get:
      tags:
      - Cases
      summary: Retrieve a case
      description: "### Retrieve a single case.\r\n\r\nReturns information about a case, including lists of the individual\
        \ companies and people within it as well as their associated `company_id` or `person_id`.\r\n"
      operationId: GET_v2-cases-case_id
      parameters:
      - name: case_id
        in: path
        description: Sikoia ID for the case
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Retrieved Case
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaSharedModels.CaseManagement.Responses.CaseResponse'
              example:
                case_id: 64cd8202-2db4-44d5-85be-79438d65eb7b
                name: Acme Ltd Loan Application
                case_type: Business
                stage: New
                datetime_created: '2023-02-10T10:59:46.0260000+00:00'
                datetime_last_modified: '2023-02-12T13:04:21.3260000+00:00'
                reference: LOAN03584
                reference_customer_id: CUST67044
                reference_customer_name: Building Society Ltd
                description: Acme Ltd looking to borrow money to fund a new fleet of delivery vehicles.
                source: API
                owner: Cecilia Adams
                ownership:
                - owner_id: 6a9f8d73-29f4-4a6a-80dc-21b8cbecff75
                  owner_type: user
                number_of_companies: '2'
                number_of_persons: '5'
                companies:
                - company_id: a035d37a-dee1-4a4e-b098-168a6a1f4603
                  company_name: Acme Limited
                  company_number: '77642080'
                  jurisdiction_code: GB
                  status: Active
                  number_of_officers: '5'
                  number_of_owners: '2'
                  media_adverse_requested: true
                  pep_sanction_requested: true
                persons:
                - person_id: 8303ce21-3120-4981-9a19-560ef110502b
                  first_name: Wilson
                  last_name: Pascale
                  name: Wilson Pascale
                  email: wislon@acme.ltd.uk
                  postal_address:
                    house_number: '123'
                    building_name: Main House
                    sub_building_name: string
                    address_line_1: Main Street
                    address_line_2: Apt. 101
                    locality: Test Country
                    city: Test Town
                    post_code: X9 9AA
                    country: GB
                    summary_line: 123, Main Street, Main House, Apt. 101, Test County, Test Town, X9 9AA, GB
                  date_of_birth: '1985-06-12'
                  employer: Acme Limited
                  is_officer: true
                  appointments: string
                  reference_person_id: Wilson5432
                  media_adverse_requested: true
                  pep_sanction_requested: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidToken
                status: 401
                title: Invalid Token
                detail: Invalid token
                correlation_id: 187f6c48-c248-4179-a1b5-f4114096690b
        '404':
          description: Case Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ResourceNotFound
                status: 404
                title: Resource Not Found
                detail: No resources found with id 29ae6bb5-0a12-4c6c-98c3-92d160fb34dc.
                correlation_id: dae3c74a-526d-4f0d-846a-5bdec0c569c3
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: RateLimit
                status: 429
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: 5a2e5909-67e1-4406-aeb0-2cfac015a2ad
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ServerError
                status: 500
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: 3126f0a6-7775-45d6-8082-b0281648be06
    patch:
      tags:
      - Cases
      summary: Update a case
      description: "### Updates details for an existing case.\r\n\r\nWhile all fields are optional, the request must include\
        \ at least one field.\r\n\r\nTo clear a field, send an empty string as the field value.\r\n"
      operationId: PATCH_v2-cases-case_id
      parameters:
      - name: case_id
        in: path
        description: Sikoia ID for the case
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SikoiaSharedModels.CaseManagement.Requests.UpdateCaseRequest'
            example:
              name: Acme Ltd 2nd Loan Application
              stage: Approved
              reference: LOAN03584
              reference_customer_id: CUST67044
              reference_customer_name: Building Society Ltd
              description: Acme Ltd looking for another loan
              source: API
              owner: Katerina Valentin
              ownership:
              - owner_id: 6a9f8d73-29f4-4a6a-80dc-21b8cbecff75
                owner_type: user
      responses:
        '200':
          description: Updated Case
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaSharedModels.CaseManagement.Responses.CaseResponse'
              example:
                case_id: 64cd8202-2db4-44d5-85be-79438d65eb7b
                name: Acme Ltd Loan Application
                case_type: Business
                stage: New
                datetime_created: '2023-02-10T10:59:46.0260000+00:00'
                datetime_last_modified: '2023-02-12T13:04:21.3260000+00:00'
                reference: LOAN03584
                reference_customer_id: CUST67044
                reference_customer_name: Building Society Ltd
                description: Acme Ltd looking to borrow money to fund a new fleet of delivery vehicles.
                source: API
                owner: Cecilia Adams
                ownership:
                - owner_id: 6a9f8d73-29f4-4a6a-80dc-21b8cbecff75
                  owner_type: user
                number_of_companies: '2'
                number_of_persons: '5'
                companies:
                - company_id: a035d37a-dee1-4a4e-b098-168a6a1f4603
                  company_name: Acme Limited
                  company_number: '77642080'
                  jurisdiction_code: GB
                  status: Active
                  number_of_officers: '5'
                  number_of_owners: '2'
                  media_adverse_requested: true
                  pep_sanction_requested: true
                persons:
                - person_id: 8303ce21-3120-4981-9a19-560ef110502b
                  first_name: Wilson
                  last_name: Pascale
                  name: Wilson Pascale
                  email: wislon@acme.ltd.uk
                  postal_address:
                    house_number: '123'
                    building_name: Main House
                    sub_building_name: string
                    address_line_1: Main Street
                    address_line_2: Apt. 101
                    locality: Test Country
                    city: Test Town
                    post_code: X9 9AA
                    country: GB
                    summary_line: 123, Main Street, Main House, Apt. 101, Test County, Test Town, X9 9AA, GB
                  date_of_birth: '1985-06-12'
                  employer: Acme Limited
                  is_officer: true
                  appointments: string
                  reference_person_id: Wilson5432
                  media_adverse_requested: true
                  pep_sanction_requested: true
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidRequest
                status: 400
                title: Validation Errors
                detail: Entity Id is required.
                correlation_id: bdc39a61-17f3-4d27-958b-86abe1bda15b
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidToken
                status: 401
                title: Invalid Token
                detail: Invalid token
                correlation_id: fff255f3-be78-48d9-826a-6b394e52bb49
        '404':
          description: Case Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ResourceNotFound
                status: 404
                title: Resource Not Found
                detail: No resources found with id cb74296c-3b8c-4005-933b-355219d150cc.
                correlation_id: 0bbcff17-0ed8-4ee3-80f0-a30c0334f12e
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: RateLimit
                status: 429
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: 1174d652-7f7f-4d9f-9e01-e56844de42f0
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ServerError
                status: 500
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: 7ae566db-bf25-4297-9db4-c9ea466ecfab
    delete:
      tags:
      - Cases
      summary: Delete a case
      description: "### Deletes a single case.\r\n\r\nThis also deletes all of the associated companies, people and documents\
        \ within the case.\r\n\r\nPlease note that this action cannot be undone.\r\n"
      operationId: DELETE_v2-cases-case_id
      parameters:
      - name: case_id
        in: path
        description: Sikoia ID for the case
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successfully deleted case
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidToken
                status: 401
                title: Invalid Token
                detail: Invalid token
                correlation_id: 1b8c07df-23c9-48c8-88bd-ffff6cdb37c9
        '404':
          description: Case Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ResourceNotFound
                status: 404
                title: Resource Not Found
                detail: No resources found with id e3d720d8-8c4f-4737-85a5-382bd0be6105.
                correlation_id: 9829fa7d-8a1d-4194-a82d-7fa94e907cf2
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: RateLimit
                status: 429
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: 9b1d1da1-d9b0-4a83-871c-6d4241a0cf0d
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ServerError
                status: 500
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: 5569a5d0-dbfe-4fd0-81ad-822ab33ff2ad
  /v2/cases/{case_id}/entities:
    post:
      tags:
      - Companies & People
      summary: Add entities to a case
      description: "### Adds companies and / or people to an existing case.\r\n\r\nThis endpoint behaves the same as the Create\
        \ Case endpoint when adding companies and / or people.\r\n\r\nWhen adding companies, you can retrieve company registration\
        \ data by setting `registry_search` to `true`, and ensuring that `company_name`, `company_number`, and `jurisdiction_code`\
        \ are not empty. If the data cannot be found, the case is created with the provided company details. If the company\
        \ registration data is found, the `status`, `number_of_officers`, and `number_of_owners` are updated to reflect the\
        \ registry data.\r\n\r\nAdditionally, you can choose to add all the company's (human) officers to the case by setting\
        \ `add_directors` to `true`. Note that this flag is applicable only when `registry_search` is set to `true`.\r\n"
      operationId: POST_v2-cases-case_id-entities
      parameters:
      - name: case_id
        in: path
        description: Sikoia ID for the case
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SikoiaSharedModels.CaseManagement.Requests.AddEntitiesToCaseRequest'
            example:
              companies:
              - company_name: Acme Limited
                company_number: '77642080'
                jurisdiction_code: GB
                registry_search: true
                add_directors: true
              persons:
              - first_name: Wilson
                last_name: Pascale
                email: wislon@acme.ltd.uk
                postal_address:
                  house_number: '123'
                  building_name: Main House
                  sub_building_name: string
                  address_line_1: Main Street
                  address_line_2: Apt.101
                  locality: Test County
                  city: Test Town
                  post_code: X9 9AA
                  country: GB
                date_of_birth: '1985-06-12'
                employer: Acme Limited
                is_officer: true
                reference_person_id: Wilson5432
      responses:
        '201':
          description: Case with New Entities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaSharedModels.CaseManagement.Responses.CaseResponse'
              example:
                case_id: 64cd8202-2db4-44d5-85be-79438d65eb7b
                name: Acme Ltd Loan Application
                case_type: Business
                stage: New
                datetime_created: '2023-02-10T10:59:46.0260000+00:00'
                datetime_last_modified: '2023-02-12T13:04:21.3260000+00:00'
                reference: LOAN03584
                reference_customer_id: CUST67044
                reference_customer_name: Building Society Ltd
                description: Acme Ltd looking to borrow money to fund a new fleet of delivery vehicles.
                source: API
                owner: Cecilia Adams
                ownership:
                - owner_id: 6a9f8d73-29f4-4a6a-80dc-21b8cbecff75
                  owner_type: user
                number_of_companies: '2'
                number_of_persons: '5'
                companies:
                - company_id: a035d37a-dee1-4a4e-b098-168a6a1f4603
                  company_name: Acme Limited
                  company_number: '77642080'
                  jurisdiction_code: GB
                  status: Active
                  number_of_officers: '5'
                  number_of_owners: '2'
                  media_adverse_requested: true
                  pep_sanction_requested: true
                persons:
                - person_id: 8303ce21-3120-4981-9a19-560ef110502b
                  first_name: Wilson
                  last_name: Pascale
                  name: Wilson Pascale
                  email: wislon@acme.ltd.uk
                  postal_address:
                    house_number: '123'
                    building_name: Main House
                    sub_building_name: string
                    address_line_1: Main Street
                    address_line_2: Apt. 101
                    locality: Test Country
                    city: Test Town
                    post_code: X9 9AA
                    country: GB
                    summary_line: 123, Main Street, Main House, Apt. 101, Test County, Test Town, X9 9AA, GB
                  date_of_birth: '1985-06-12'
                  employer: Acme Limited
                  is_officer: true
                  appointments: string
                  reference_person_id: Wilson5432
                  media_adverse_requested: true
                  pep_sanction_requested: true
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidRequest
                status: 400
                title: Validation Errors
                detail: Entity Id is required.
                correlation_id: 12ae3d33-4fd1-4641-8e3c-a03ad1b5c42b
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidToken
                status: 401
                title: Invalid Token
                detail: Invalid token
                correlation_id: 70657df9-f195-4800-bda3-a6c75f045e4d
        '404':
          description: Case Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ResourceNotFound
                status: 404
                title: Resource Not Found
                detail: No resources found with id d7734fe3-71a7-4bce-a852-ca4bc24268ff.
                correlation_id: aa068a8a-47d8-4a41-8fcb-fbbbbb2b947c
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: RateLimit
                status: 429
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: f5dc01bb-e320-4cdc-a993-56e34981453f
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ServerError
                status: 500
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: 10ac4d01-4dd8-4935-8cb1-953a3e4706be
    patch:
      tags:
      - Companies & People
      summary: Update entities in a case
      description: "### Updates existing companies and / or people in a case.\r\n\r\nAll fields are optional, except for `company_id`\
        \ or `person_id`; however, the request must include at least one field.\r\n\r\nTo clear a field, simply send an empty\
        \ string as the field value.\r\n"
      operationId: PATCH_v2-cases-case_id-entities
      parameters:
      - name: case_id
        in: path
        description: Sikoia ID for the case
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SikoiaSharedModels.CaseManagement.Requests.UpdateCaseEntitiesRequest'
            example:
              companies:
              - company_id: a035d37a-dee1-4a4e-b098-168a6a1f4603
                company_name: Acme Limited
                company_number: '77642080'
                jurisdiction_code: GB
              persons:
              - person_id: 8303ce21-3120-4981-9a19-560ef110502b
                first_name: Wilson
                last_name: Pascale
                email: wislon@acme.ltd.uk
                postal_address:
                  house_number: '123'
                  building_name: Main House
                  sub_building_name: string
                  address_line_1: Main Street
                  address_line_2: Apt.101
                  locality: Test County
                  city: Test Town
                  post_code: X9 9AA
                  country: GB
                date_of_birth: '1985-06-12'
                employer: Acme Limited
                reference_person_id: Wilson5432
      responses:
        '201':
          description: Case with Updated Entities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaSharedModels.CaseManagement.Responses.CaseResponse'
              example:
                case_id: 64cd8202-2db4-44d5-85be-79438d65eb7b
                name: Acme Ltd Loan Application
                case_type: Business
                stage: New
                datetime_created: '2023-02-10T10:59:46.0260000+00:00'
                datetime_last_modified: '2023-02-12T13:04:21.3260000+00:00'
                reference: LOAN03584
                reference_customer_id: CUST67044
                reference_customer_name: Building Society Ltd
                description: Acme Ltd looking to borrow money to fund a new fleet of delivery vehicles.
                source: API
                owner: Cecilia Adams
                ownership:
                - owner_id: 6a9f8d73-29f4-4a6a-80dc-21b8cbecff75
                  owner_type: user
                number_of_companies: '2'
                number_of_persons: '5'
                companies:
                - company_id: a035d37a-dee1-4a4e-b098-168a6a1f4603
                  company_name: Acme Limited
                  company_number: '77642080'
                  jurisdiction_code: GB
                  status: Active
                  number_of_officers: '5'
                  number_of_owners: '2'
                  media_adverse_requested: true
                  pep_sanction_requested: true
                persons:
                - person_id: 8303ce21-3120-4981-9a19-560ef110502b
                  first_name: Wilson
                  last_name: Pascale
                  name: Wilson Pascale
                  email: wislon@acme.ltd.uk
                  postal_address:
                    house_number: '123'
                    building_name: Main House
                    sub_building_name: string
                    address_line_1: Main Street
                    address_line_2: Apt. 101
                    locality: Test Country
                    city: Test Town
                    post_code: X9 9AA
                    country: GB
                    summary_line: 123, Main Street, Main House, Apt. 101, Test County, Test Town, X9 9AA, GB
                  date_of_birth: '1985-06-12'
                  employer: Acme Limited
                  is_officer: true
                  appointments: string
                  reference_person_id: Wilson5432
                  media_adverse_requested: true
                  pep_sanction_requested: true
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidRequest
                status: 400
                title: Validation Errors
                detail: Entity Id is required.
                correlation_id: 8798afca-4df6-44dc-9633-e62cab611697
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidToken
                status: 401
                title: Invalid Token
                detail: Invalid token
                correlation_id: 6147d230-72bb-41c1-8e0e-d7bc6ca93700
        '404':
          description: Case Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ResourceNotFound
                status: 404
                title: Resource Not Found
                detail: No resources found with id 91b32550-0b6c-415b-9451-2e0a09e13f1a.
                correlation_id: 551a5561-1c8a-4f83-88de-3726c315b932
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: RateLimit
                status: 429
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: 47c2726c-23bf-4a8f-963f-0666604689ab
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ServerError
                status: 500
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: cad08426-bf63-446c-84f1-24cac1af8a70
  /v2/cases/{case_id}/entities/delete:
    post:
      tags:
      - Companies & People
      summary: Delete entities in a case
      description: "### Deletes companies and / or people from a case.\r\n\r\nAccepts a list of person and / or company IDs\
        \ to delete from the case.\r\n\r\nPlease note that this action cannot be undone.\r\n"
      operationId: POST_v2-cases-case_id-entities-delete
      parameters:
      - name: case_id
        in: path
        description: Sikoia ID for the case
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SikoiaSharedModels.CaseManagement.Requests.DeleteCaseEntityRequest'
            example:
              companies: '["ddf1d8ef-2cca-41ef-89c1-00fb0c05c54f"]'
              persons: '["c28c88d6-7fb5-4c2f-a5a1-559cd2675293"]'
      responses:
        '200':
          description: Case with Deleted Entities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaSharedModels.CaseManagement.Responses.CaseResponse'
              example:
                case_id: 64cd8202-2db4-44d5-85be-79438d65eb7b
                name: Acme Ltd Loan Application
                case_type: Business
                stage: New
                datetime_created: '2023-02-10T10:59:46.0260000+00:00'
                datetime_last_modified: '2023-02-12T13:04:21.3260000+00:00'
                reference: LOAN03584
                reference_customer_id: CUST67044
                reference_customer_name: Building Society Ltd
                description: Acme Ltd looking to borrow money to fund a new fleet of delivery vehicles.
                source: API
                owner: Cecilia Adams
                ownership:
                - owner_id: 6a9f8d73-29f4-4a6a-80dc-21b8cbecff75
                  owner_type: user
                number_of_companies: '2'
                number_of_persons: '5'
                companies:
                - company_id: a035d37a-dee1-4a4e-b098-168a6a1f4603
                  company_name: Acme Limited
                  company_number: '77642080'
                  jurisdiction_code: GB
                  status: Active
                  number_of_officers: '5'
                  number_of_owners: '2'
                  media_adverse_requested: true
                  pep_sanction_requested: true
                persons:
                - person_id: 8303ce21-3120-4981-9a19-560ef110502b
                  first_name: Wilson
                  last_name: Pascale
                  name: Wilson Pascale
                  email: wislon@acme.ltd.uk
                  postal_address:
                    house_number: '123'
                    building_name: Main House
                    sub_building_name: string
                    address_line_1: Main Street
                    address_line_2: Apt. 101
                    locality: Test Country
                    city: Test Town
                    post_code: X9 9AA
                    country: GB
                    summary_line: 123, Main Street, Main House, Apt. 101, Test County, Test Town, X9 9AA, GB
                  date_of_birth: '1985-06-12'
                  employer: Acme Limited
                  is_officer: true
                  appointments: string
                  reference_person_id: Wilson5432
                  media_adverse_requested: true
                  pep_sanction_requested: true
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidRequest
                status: 400
                title: Validation Errors
                detail: Entity Id is required.
                correlation_id: 77429fb5-9be7-40d7-b689-459cd9600861
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidToken
                status: 401
                title: Invalid Token
                detail: Invalid token
                correlation_id: 5a6cb4f7-1ef9-40d4-9307-961ad146b764
        '404':
          description: Case Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ResourceNotFound
                status: 404
                title: Resource Not Found
                detail: No resources found with id 1f84f8ca-b1d1-4fe4-9729-b56c6f47e7f4.
                correlation_id: cdb6963a-754f-4716-8aba-2c05032bd48e
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: RateLimit
                status: 429
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: 231373e9-557b-40c2-9c3a-5bc07e654d8f
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ServerError
                status: 500
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: 2374085c-c9e0-4afa-97f0-1d428ba480a7
  /v2/company-registry-data:
    post:
      tags:
      - Company Registry
      summary: Request registry data
      description: "### Requests registry data for a company.\r\n\r\nYou can create a request with only the `company_id`,\
        \ and the necessary data will be retrieved from the company entity. If the company entity is missing `company_number`\
        \ or `country_code`, a 422 - Unprocessable error will be raised.\r\n\r\nAlternatively, you can override the company\
        \ entity details by sending `company_number`, `company_name`, and `country_code` alongside the `company_id` in the\
        \ request body.  \r\n\r\nIf it is not possible to identify a single company in the relevant registry based on the\
        \ data provided, the response will have a status of `TooManyResults`. You can resolve this picklist using the `POST\
        \ /v2/company-registry-data/picklist endpoint`.\r\n"
      operationId: POST_v2-company-registry-data
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Request.RegistryDataRequest'
            example:
              company_id: 78662640-73fc-4fa9-8367-ef4660d35cee
              company_number: '12345678'
              company_name: Acme Inc
              country_code: GB
      responses:
        '201':
          description: Registry Data Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.RegistryDataResponse'
              example:
                request_id: 276c102b-85d3-4e86-a69d-de1b2ba72150
                status: Complete
                company_id: 78662640-73fc-4fa9-8367-ef4660d35cee
                datetime_requested: '2024-02-12T13:18:28.9780000+00:00'
                message: string
                company_number: '12345678'
                company_name: Acme Inc
                country_code: GB
                picklist: '[]'
        '400':
          description: Company Entity Deleted/Not Found or Country Not Recognised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidRequest
                status: 400
                title: Validation Errors
                detail: Entity Id is required.
                correlation_id: 71673cbb-3f75-48f1-b480-03d3c6c82a8a
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidToken
                status: 401
                title: Invalid Token
                detail: Invalid token
                correlation_id: ca87a716-7eb6-4093-8227-d46111b3b049
        '403':
          description: Insufficient Credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InsufficientPermissions
                status: 403
                title: Service not enabled
                detail: Service is not currently enabled.
                correlation_id: 8a83523b-7add-4dca-98f9-280ac083c62e
        '422':
          description: Company Entity Missing Information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: UnprocessableRequest
                status: 422
                title: Entity Missing Information
                detail: Entity with id 2ad611a0-d26e-4502-a68c-7a70f58f12e2 is missing required information, please update
                  entity.
                correlation_id: 6c184595-c5a0-46ee-accd-ab97eed3c968
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: RateLimit
                status: 429
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: 0c6d8b85-901a-44f2-861f-fdb7b22d60c5
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ServerError
                status: 500
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: d305a79e-fef3-4adc-a063-6469eb4daabc
  /v2/companies/{company_id}/registry-data:
    get:
      tags:
      - Company Registry
      summary: List all registry data requests
      description: "### Returns a list of all registry data requests for a company.\r\n\r\nThe list includes the `request_id`\
        \ for each request, which can be used to retrieve detailed registry data using the `GET /v2/company-registry-data/{request_id}`\
        \ endpoint.\r\n"
      operationId: GET_v2-companies-company_id-registry-data
      parameters:
      - name: company_id
        in: path
        description: Sikoia ID for the Company
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Registry Data Requests List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.RegistryDataListResponse'
              example:
                company_id: 78662640-73fc-4fa9-8367-ef4660d35cee
                registry_data_requests:
                - request_id: 276c102b-85d3-4e86-a69d-de1b2ba72150
                  status: Complete
                  datetime_requested: '2024-02-12T13:18:28.9780000+00:00'
                  message: string
                  company_number: '12345678'
                  company_name: Acme Inc
                  country_code: GB
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: InvalidToken
                status: 401
                title: Invalid Token
                detail: Invalid token
                correlation_id: eede0337-baf7-48c5-b07f-641558af3f18
        '404':
          description: Company Entity Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ResourceNotFound
                status: 404
                title: Resource Not Found
                detail: No resources found with id 51d093e0-2ef7-426c-9d20-e454fc87ded6.
                correlation_id: b592f462-ab3f-4aa0-b236-2a51c0491d0c
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: RateLimit
                status: 429
                title: Too Many Requests
                detail: You've exceeded the maximum API request limit per minute. Please try again later.
                correlation_id: fd2efe10-b38c-4d4b-af30-8534788fba00
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaCore.Common.SikoiaErrorResponse'
              example:
                type: ServerError
                status: 500
                title: Internal Server Error
                detail: Something has gone wrong, please try again
                correlation_id: 02ddd458-6e9f-408c-a223-8f50c9b9b92a
  /v2/company-registry-data/{request_id}:
    get:
      tags:
      - Company Registry
      summary: Retrieve registry data
      description: "### Returns detailed company registry data\r\n\r\nThis endpoint returns the full registry data associated\
        \ with a specific request_id.\r\n"
      operationId: GET_v2-company-registry-data-request_id
      parameters:
      - name: request_id
        in: path
        description: Sikoia ID for the request
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Registry Data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SikoiaSharedModels.Company.External.Response.Mapped.RegistryDataMappedResponse'
              example:
                request_id: string
                status: string
                company_id: string
                datetime_requested: string
                message: string
                company_number: string
                company_name: string
                country_code: string
                data:
                  company_name: string
                  company_number: string
                  status: string
                  registry_status: string
                  registry_name: string
                  registry_url: string
                  data_provider: string
                  generic_legal_form: string
                  registry_legal_form: string
                  country_code: string
                  date_established: string
                  date_dissolved: string
                  official_address:
                    address_line_1: 10 Main Street
                    address_line_2: Apt. 101
                    address_line_3: Main House
                    address_line_4: string
                    city: Test Town
                    region: Test Country
                    country: GB
                    post_code: X9 9AA
                    full_address: 123 Main Street, Main House, Apt. 101, Test County, Test Town, X9 9AA, GB
                  summary_info:
                    has_insolvency_history: true
                  special_characteristics:
                  - string
                  previous_company_names:
                  - company_name: string
                    date_from: string
                    date_to: string
                  accounts:
                    last_accounts:
                      made_up_to: string
                      period_start: string
                      period_end: string
                      type: string
                    next_accounts:
                      overdue: true
                      period_start: string
                      period_end: string
                      due_date: string
                  industry_codes:
                  - code: string
                    description: string
                  officers:
                    people:
                    - source_id: string
                      officer_role: string
                      date_appointed: string
                      date_resigned: string
                      status: string
                      tax_id: string
                      first_name: string
                      surname: string
                      full_name: string
                      date_of_birth: string
                      birth_year: 0
                      birth_month: 0
                      birth_day: 0
                      nationality: string
                      address:
                        address_line_1: 10 Main Street
                        address_line_2: Apt. 101
                        address_line_3: Main House
                        address_line_4: string
                        city: Test Town
                        region: Test Country
                        country: GB
                        post_code: X9 9AA
                        full_address: 123 Main Street, Main House, Apt. 101, Test County, Test Town, X9 9AA, GB
                      occupation: string
                    companies:
                    - source_id: string
                      officer_role: string
                      date_appointed: string
                      date_resigned: string
                      status: string
                      name: string
                      address:
                        address_line_1: 10 Main Street
                        address_line_2: Apt. 101
                        address_line_3: Main House
                        address_line_4: string
                        city: Test Town
                        region: Test Country
                        country: GB
                        post_code: X9 9AA
                        full_address: 123 Main Street, Main House, Apt. 101, Test County, Test Town, X9 9AA, GB
                      occupation: string
                  owners:
                    people:
                    - source_id: string
                      first_name: string
                      surname: string
                      full_name: string
                      type: string
                      date_from: string
                      date_to: string
                      natures_of_control:
                      - string
                      date_of_birth: string
                      birth_year: 0
                      birth_month: 0
                      birth_day: 0
                      nationality: string
                      address:
                        address_line_1: 10 Main Street
                        address_line_2: Apt. 101
                        address_line_3: Main House
                        address_line_4: string
                        city: Test Town
                        region: Test Country
                        country: GB
                        post_code: X9 9AA
                        full_address: 123 Main Street, Main House, Apt. 101, Test County, Test Town, X9 9AA, GB
                    companies:
                    - source_id: string
                      name: string
                      type: string
                      date_from: string
[...]
